
app-header {
  position: relative; /* Necesario para posicionar elementos hijos de manera absoluta */
}

.edit-button {
  width: 35px;
  height: 35px;
  min-height: unset;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px; /* Ajusta la altura según tu diseño */
  right: 10px; /* Pegado al margen derecho */
  }
  
  .icono {
    font-size: 10px; 
    color: #ffffff; 
    margin-left:2px;
  }

  ion-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  


  ion-card {
    margin: 15px 10px; // Márgenes para el card
    border-radius: 10px; // Bordes redondeados de la tarjeta
   
    --background: transparent !important;
  
    ion-item {

        .address-button{
        --background: #FAD149;
        align-items: center;
        justify-content: center;
        display: flex;
        }

        .pin-icon{
        color: #141411;
        height: 25px;
        width: 25px;

        }
      ion-icon {
        
        font-size: 20px; 
        margin-left: 5px;
      }
      
    }
  

    .order-details {
        display: flex; 
        flex-direction: column; 
        align-items: flex-start; 
        margin-left: 0px; 
      }
      
      .order-street {
        margin: 0; 
        font-weight: 500;
        font-size: 14px; 
        color: #141411; 
      }
      
      .order-info {
        margin: 0; 
        font-size: 12px;
        color: #141411; 
      }
      
      .tick-icon{

       height: 30px;
       width: 30px;
     
      }
  }

  .add-address-button {
    margin-top:450px;
    display: flex; 
    justify-content: center; 
    
  }
 
  .add-adress {
    width: 90%; 
    height: 60px; 
    color: #141411; 
    font-size: 16px;
    font-weight: medium;
    --border-radius: 50px; 
    font-size: 16px; 
  }