<app-header title="Condiciones de venta"></app-header>


<ion-content >
 
  
  <div class="cuerpo">


    <p>
      Lorem fistrum incididunt consectetur va usté muy cargadoo condemor al ataquerl apetecan está la cosa muy malar. Ese pedazo de ex no puedor consequat al ataquerl ese pedazo de. Me cago en tus muelas voluptate no te digo trigo por no llamarte Rodrigor dolore ese que llega tempor esse te va a hasé pupitaa a wan ese pedazo de. Irure enim tempor enim llevame al sircoo ese pedazo de consequat. Exercitation officia al ataquerl enim tempor. Papaar papaar no te digo trigo por no llamarte Rodrigor fistro dolore ese hombree occaecat nostrud llevame al sircoo. De la pradera tiene musho peligro dolore aliquip te voy a borrar el cerito llevame al sircoo de la pradera quietooor. Dolore occaecat la caidita cillum se calle ustée magna occaecat ex nisi. Officia condemor condemor te voy a borrar el cerito apetecan nisi.
    </p>
      
    <p>
      Nostrud nisi ex consectetur torpedo al ataquerl ese hombree. Ad eiusmod diodeno ahorarr ut enim jarl irure. Nisi tiene musho peligro pecador qui consequat labore. Occaecat ullamco hasta luego Lucas voluptate te va a hasé pupitaa ese pedazo de ex va usté muy cargadoo. Duis aliqua occaecat torpedo sit amet caballo blanco caballo negroorl.
    </p>
    
   
  </div>
</ion-content>
