<app-header title="Restaurantes"></app-header>

<ion-content [fullscreen]="true">
 
  <div class="background-container">
    <img class="fondo" src="../../../assets/imgs/Enmascarargrupo3.png" alt="">
    <div class="puntero-container">
      <img class="puntero3" src="../../../assets/imgs/Grupo11267.png" alt="" routerLink="/locals-filter">
    </div>
  
  </div>


  <div class="imagen">
    <img src="../../../assets/imgs/Rectángulo19576.png" alt="">
    <div class="info-container">
    <h1 class="mercado">Abastos</h1>
    <p class="direccion"> <ion-icon slot="start" src="../../../assets/icons/Trazado46929.svg"> </ion-icon> Carrer d'Ontinyent, 4, 41800, Valéncia </p>
    <p class="horario"> <ion-icon slot="start" src="../../../assets/icons/time.svg"> </ion-icon>  12:45 a 15:45 - 19:30 a 23:00 </p>
    <p class="telf"> <ion-icon slot="start" src="../../../assets/icons/telefono.svg"> </ion-icon> 960 26 10 40 </p>
  </div>

  <div class="botones">

    <ion-button   >
      <ion-icon slot="start" src="../../../assets/icons/scooter.svg"></ion-icon>
      <ion-text color="secondary" >A domicilio</ion-text>
    </ion-button>
    
    
    <ion-button  >
      <ion-icon slot="start" src="../../../assets/icons/ramen.svg"></ion-icon>
      <ion-text color="secondary">Recogida</ion-text>
    </ion-button>

    <ion-button  >
      <ion-icon slot="start" src="../../../assets/icons/QR.svg"></ion-icon>
      <ion-text color="secondary" >En mesa</ion-text>
    </ion-button>
</div>
  </div>
</ion-content>
