

<ion-content [fullscreen]="true">

  <div class="cabecera">
     <p style="margin-bottom: -5%;">¡Te damos la bienvenida </p>
     <p>a<ion-text color="primary"> Little Thai</ion-text>!</p>
</div>

<div class="segunda">
    <p>Las mejores ofertas, los mejores productos.</p>
    <p>Todo, desde nuestra cocina.</p>
</div>

<p><ion-text color="primary">¡Sólo para tu disfrute!</ion-text></p>


<div>
  <img src="../../../assets/imgs/Grupo11380@3x.png" width="90%">
</div>

<div class="pie">
<p>¿Ready para una experiencia increíble?</p>
</div>
<ion-button class="boton" shape="round" expand="block" type="button" routerLink="/tabs/inicio">¡Lo estoy!</ion-button>











</ion-content>
