ion-content {
    --background:#1B1B1B;
    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    .cabecera {
        margin-top: 30%;
        font-size: 19pt;
    }
    .segunda {
        font-size: 10pt;
    }
    .pie {
        font-size: 10pt;
        margin-top: -5%;
    }
    .boton {
        --border-radius: 50pt;
        font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        color: black;
        margin: 10%;
        font-size: 12pt;
        margin-top: 5%;
    }

}