<app-header title="Politica de privacidad"></app-header>
<ion-content >
 
  
  <div class="cuerpo">


    <p>
      Lorem fistrum voluptate diodeno adipisicing. Commodo nisi por la gloria de mi madre papaar papaar amatomaa qui sit amet aliqua te voy a borrar el cerito. Aute magna magna cillum de la pradera ex velit ad. Caballo blanco caballo negroorl te voy a borrar el cerito a wan qué dise usteer ese pedazo de tempor. Apetecan veniam diodenoo no te digo trigo por no llamarte Rodrigor occaecat. Sed elit ut sed eiusmod irure minim consequat. Elit esse quietooor commodo tiene musho peligro minim quietooor papaar papaar llevame al sircoo.
    </p>
    <p>
      Va usté muy cargadoo papaar papaar incididunt velit eiusmod elit pecador qué dise usteer quis papaar papaar qui. Apetecan dolore ese hombree torpedo papaar papaar diodeno. Quietooor tempor jarl consectetur jarl diodeno minim labore. Por la gloria de mi madre minim ese que llega cillum commodo et sed voluptate. Aliqua ese pedazo de qué dise usteer torpedo aliquip tempor elit. Adipisicing enim benemeritaar duis laboris está la cosa muy malar qui amatomaa mamaar. Ese hombree apetecan ahorarr voluptate. Sed apetecan ullamco adipisicing a gramenawer aute duis dolore.
    </p>
    
   
  </div>
</ion-content>