<ion-content >
  <div class="encabezado">
    
    <ion-input class="recordar" clearInput type="text" placeholder="Código de verificación" >
      <ion-icon class="icono" slot="start" src="../../../assets/icons/FlechaBoxAmr.svg" routerLink="/register"></ion-icon>
    </ion-input>
      

    
  </div>
  
  


  <div class="cuerpo">

    <div class="verificacion">
    <p >Verificación por <span class="sms">sms</span></p>
    </div>

    <div class="telefono">
      <p>
        Hemos enviado un mensaje al teléfono
      </p>
      <p>
        terminado en *******08
      </p>
    </div>


    <div class="botones">
      
      <ion-item class="cuadrostelefonos" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>

      <ion-item class="cuadrostelefonos2" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>

      <ion-item class="cuadrostelefonos3" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>

      <ion-item class="cuadrostelefonos4" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>

      <ion-item class="cuadrostelefonos5" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>

      <ion-item class="cuadrostelefonos6" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>




    </div>

    <div class="nocodigo">
      <p>No he recibido el código</p>
    </div>

    <ion-button class="boton" shape="round" expand="block" type="button" routerLink="/verificacion">Enviar</ion-button>
    
   
  </div>
</ion-content>