<app-header title="Código de verificación"></app-header>



<ion-content >
  


  <div class="cuerpo">

    <div class="verificacion">
    <p >Verificación por <span class="sms">sms</span></p>
    </div>

    <div class="telefono">
      <p>
        Hemos enviado un mensaje al teléfono
      </p>
      <p>
        terminado en *******08
      </p>
    </div>


    <div class="botones">
      
      <ion-item class="cuadrostelefonos" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>

      <ion-item class="cuadrostelefonos" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>

      <ion-item class="cuadrostelefonos" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>

      <ion-item class="cuadrostelefonos" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>

      <ion-item class="cuadrostelefonos" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>

      <ion-item class="cuadrostelefonos" lines="none">
        <ion-input clearInput type="number" placeholder="none" underline="none"> </ion-input>
      </ion-item>




    </div>

    <div class="nocodigo">
      <p>No he recibido el código</p>
    </div>

    <ion-button class="boton" shape="round" expand="block" type="button" routerLink="/bienvenida">Enviar</ion-button>
    
   
  </div>
</ion-content>