<ion-content [fullscreen]="true">

  <img class="fondo" src="../../../assets/imgs/Enmascarargrupo3.png" alt="">

  

  
  
  <div class="encabezado">
    
    <ion-input class="address" clearInput type="text" placeholder="Confirmar dirección" >
      <ion-icon class="icono" slot="start" src="../../../assets/icons/FlechaBoxAmr.svg" routerLink="/inicio"></ion-icon>
    </ion-input>
       
  </div>


  <div>
  <img class="puntero" src="../../../assets/imgs/Grupo11267.png" alt="">
  </div>
  
  <div class="cuerpo">
    
    <p>Confirma tu dirección de entrega</p>

    <ion-input class="address2" clearInput typea="text" placeholder="Calle Colón, 24 · 2, B · 46001, Valencia" >
    <ion-icon slot="start" src="../../../assets/icons/mapPin2.svg"></ion-icon>    
    </ion-input>
    
    <ion-button routerLink="/inicio">
      Confirmar y guardar
    </ion-button>

  </div>

  










</ion-content>
