

    .fondo{
        position: absolute;
        width: 100%;
        height: 70%;
        z-index: -1;
        filter: grayscale(100%);
    }


    .puntero{
        position: absolute;
        margin-top: 22%;
        margin-left: 35%;
        }
    

    .cuerpo{
        background-color: white;
        border-radius: 30pt 30pt 0pt 0pt;
        height: 30%;
        width: 100%;
        margin-top: 120%;

        p{
            font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #141411;
            padding-left: 5%;
            padding-top: 7%;
            font-size: 14pt;


        }    

        .address2 {
            font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 10pt;
            text-align: left;
            margin-top: 12%;
            color: #141411;
            padding-left: 5%;
            margin-top: -2%;
            ion-icon{
                padding-left: 5%;
            }


    }

    ion-button{
        font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 12pt;
        color: #141411;
        width: 90%;
        --border-radius: 25pt;
        padding-top: 10%;
        margin-left: 5%;
        --background:#FAD868;
        height: 60px;

    }









}
