
<app-header title="Confirmar dirección"></app-header>


<ion-content [fullscreen]="true">

  <img class="fondo" src="../../../assets/imgs/Enmascarargrupo3.png" alt="">

  


  <div>
  <img class="puntero" src="../../../assets/imgs/Grupo11267.png" alt="">
  </div>
  
  <div class="cuerpo">
    
    <p routerLink="/to-home-menu">Confirma tu dirección de entrega</p>

    <ion-input class="address2" clearInput typea="text" placeholder="Calle Colón, 24 · 2, B · 46001, Valencia" >
    <ion-icon slot="start" src="../../../assets/icons/mapPin2.svg"></ion-icon>    
    </ion-input>
    
    <ion-button routerLink="/start-with-address">
      Confirmar y guardar
    </ion-button>

  </div>

  










</ion-content>
