<ion-header class="header">
  <div class="top-image"  >
  <img class="plane" src="../../../assets/imgs/avion.png" alt="">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button color="warning" class="fab-button"  routerLink="/account-settings">
      <ion-icon src="../../../assets/icons/notification3.svg" class="cart-icon"></ion-icon>
      <ion-badge color="light" class="badge">+99</ion-badge> 
    </ion-button>
  </ion-fab>

  </div>
  <div class="head">
    <p class="name">Juan Galván</p>
    
    <ion-button class="btn-points" routerLink="/my-points">
      
      <p>1235 Puntos <ion-icon class="arrow" src="../../../assets/icons/Iconionic-ios-arrow-forward.svg"></ion-icon></p>
      
    </ion-button>
  </div>
  
</ion-header>


<ion-content class="content">
  <div class="box">
    <div class="list-content">
    <ion-list class="list1">
      <ion-item >
        <ion-button class="buttons" routerLink="/set-up-account">
          <ion-icon class="icon" src="../../../assets/icons/settings3.svg"></ion-icon>
        </ion-button>
        <ion-label class="text-list">
          
          Configurar mi cuenta
          
        </ion-label>
        <ion-icon class="arrow" src="../../../assets/icons/Iconionic-ios-arrow-forward.svg"></ion-icon>
      </ion-item>

      <ion-item routerLink="/my-order">
        <ion-button class="buttons">
          <ion-icon class="icon" src="../../../assets/icons/restaurant.svg"></ion-icon>
        </ion-button>
        <ion-label class="text-list">
          
          Mis pedidos
          
        </ion-label>
        <ion-icon class="arrow" src="../../../assets/icons/Iconionic-ios-arrow-forward.svg"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-button class="buttons">
          <ion-icon class="icon" src="../../../assets/icons/bankcard (1).svg"></ion-icon>
        </ion-button>
        <ion-label class="text-list">
          
          Mis tarjetas
          
        </ion-label>
        <ion-icon class="arrow" src="../../../assets/icons/Iconionic-ios-arrow-forward.svg"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-button class="buttons">
          <ion-icon class="icon" src="../../../assets/icons/pindistance.svg"></ion-icon>
        </ion-button>
        <ion-label class="text-list">
          
          Direcciones de entrega
          
        </ion-label>
        <ion-icon class="arrow" src="../../../assets/icons/Iconionic-ios-arrow-forward.svg"></ion-icon>
      </ion-item>

      <ion-item routerLink="/privacy-policy">
        <ion-button class="buttons">
          <ion-icon class="icon" src="../../../assets/icons/lock2.svg"></ion-icon>
        </ion-button>
        <ion-label class="text-list">
          
          Política de privacidad
          
        </ion-label>
        <ion-icon class="arrow" src="../../../assets/icons/Iconionic-ios-arrow-forward.svg"></ion-icon>
      </ion-item>

      <ion-item routerLink="/terms">
        <ion-button class="buttons">
          <ion-icon class="icon" src="../../../assets/icons/filetext.svg"></ion-icon>
        </ion-button>
        <ion-label class="text-list">
          
          Condiciones generales de venta
          
        </ion-label>
        <ion-icon class="arrow" src="../../../assets/icons/Iconionic-ios-arrow-forward.svg"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-button class="buttons">
          <ion-icon class="icon" src="../../../assets/icons/information.svg"></ion-icon>
        </ion-button>
        <ion-label class="text-list">
          
          Contacta con nosotros
          
        </ion-label>
        <ion-icon class="arrow" src="../../../assets/icons/Iconionic-ios-arrow-forward.svg"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-button class="buttons">
          <ion-icon class="icon" src="../../../assets/icons/logoutcircle.svg"></ion-icon>
        </ion-button>
        <ion-label class="text-list">
          
          Salir de la cuenta
          
        </ion-label>
        <ion-icon class="arrow" src="../../../assets/icons/Iconionic-ios-arrow-forward.svg"></ion-icon>
      </ion-item>










    </ion-list>
  </div>












  </div>


  

</ion-content>