.header{
    background-color: #1B1B1B;

}
.top-image{
    text-align: center;
}
.plane{
    display: inline-block; 
    height: 120px;
  margin-top: 15%;
  margin-bottom: -5%;
}
.fab-button {
    position: relative; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 335%;
    width: 50px;
    height: 50px;
}
.cart-icon {
   
    color: #ffffff; 
    min-width: 30px; 
    min-height: 30px; 
}
.badge {
    position: absolute; 
    margin-top: -20px;
    margin-left: 30px;
    background-color: white; 
    color: black; 
    border-radius: 50%; 
    width: 21px;
    height: 21px;
    display: flex; 
    align-items: center; 
    justify-content: center;
    font-size: 9px; 
    font-family: 'DM Sans', sans-serif;
 
}

.name{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
.btn-points {
    display: block;         
    text-align: center;      
    margin: 0 auto 5%;      
    --border-radius: 25pt;
    color: black;
    font-weight: bold;
    width: 40%;
}


.content{
    --background: #1B1B1B !important;
}

.box{
    border-radius: 25pt 25pt 0pt 0pt;
    background-color: white;
    width: 100%;
    height: 100%;

}
.list-content{
    width: 90%;
    height: 90%;
    padding-top: 5%;
    margin-left: 5%;
}


.buttons{
    width: 25pt;
    height: 25pt;
    color: "primary";
}
.icon{
    
    height: 16px;
    width: 16px;
    color: black;
}
.text-list{
    color: black;
    font-weight: Medium;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    flex-grow: 1;
}

ion-item {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    --ion-item-border-color: #b3b1b1; 
  }
.arrow{
    
    height: 10pt;
    margin-right: -30px;
    color: #292E2C;
    
}

.arrow2{  
    height: 8pt;
color: #292E2C;
}
