<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>

    <ion-buttons slot="end" routerLink="/configuration">
      <ion-icon name="cog-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-loading [text]="'Cargando perfil...'" *ngIf="isLoading"></app-loading>

<ion-content class="ion-padding" *ngIf="!isLoading">
  <ion-avatar>
    <img [src]="user?.avatar" (click)="adjuntarImagen()">
  </ion-avatar>

  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-input clearInput type="text" placeholder="Nombre de usuario" formControlName="name" required>
        <ion-icon slot="start" name="person-outline"></ion-icon>
      </ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input clearInput type="email" placeholder="Email" formControlName="email" required>
        <ion-icon slot="start" name="mail-outline"></ion-icon>
      </ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" [disabled]="!form.valid">Guardar cambios</ion-button>
    <ion-button expand="block" type="button" (click)="auth.logout()">Cerrar sesión</ion-button>
  </form>

</ion-content>