ion-content{

    --background: #1B1B1B;
}

h1, h2{

    font-size: 18px;
    margin-left:20px;
    margin: 0;
    margin-left: 20px;
}

h3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;

}

img{
    margin-top: -40px;
    width: 100%; 
    height: auto; 
    left: 5%;
    position: relative;
}

.delivery-info-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
    height: 60%;
    z-index: 10;
    position: relative;
  }
  
  .delivery-info {
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-direction: column; 
    
  
    h4 {
        color: #141411 ;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

    .location {
        display: flex; /* Cambia a flexbox */
        align-items: center; /* Alinea verticalmente */}
  
    ion-icon {
      font-size: 20px;
      color: #141411;
      margin-right: 5px;
      margin-top: -20px;
    }
  
    p {
      font-size: 16px;
      margin-left: 10px;
      color: #141411;
    }
  }
  
 
  
  .order-details {
    h4 {
        color: #141411 ;
      font-size: 18px;
      font-weight: bold;
    }
  
    p {
      color: #676763;
      font-size: 14px;
      margin: 5px 0 15px 0;
    }
  
    ul {
     
      padding: 0;
  
      li {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        margin-bottom: 10px;
        color: #141411;
      }
  
      span {
        
        color: #141411;
      }
    }
  }