<ion-header >
  <ion-toolbar class="custom-toolbar">
    <div class="header-container">
        <ion-icon class="icono" slot="start" src="../../../assets/icons/FlechaBoxAmr.svg" routerLink="/carta"></ion-icon>
    <ion-title>Carta de alérgenos</ion-title>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="white-background">
  <ion-list lines="none" >
   
    <ion-item class="custom-item" lines="none" >
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/cereales.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Cereales que contengan gluten</ion-label>
    </ion-item>

  
    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11350.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Crustáceos y productos a base de crustáceos</ion-label>
    </ion-item>

 
    <ion-item class="custom-item" lines="none" >
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11351.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Huevos y productos a base de huevo</ion-label>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11352.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Pescado y productos a base de pescado</ion-label>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11353.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Cacahuetes y productos a base de cacahuetes</ion-label>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11354.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Soja y productos a base de soja</ion-label>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11355.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Leche y sus derivados</ion-label>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11356.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Frutos de cáscara</ion-label>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11357.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Apio y productos derivados</ion-label>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11358.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Mostaza y productos derivados</ion-label>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11359.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Granos de sésamo y productos a base de ellos</ion-label>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11360.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Dióxido de azufre y sulfitos</ion-label>
    </ion-item>

    <ion-item class="custom-item" lines="none">
      <ion-avatar slot="start" class="custom-avatar">
        <ion-icon src="assets/icons/Grupo11361.svg"> </ion-icon>
      </ion-avatar>
      <ion-label>Altramuces y productos a base de altramuces</ion-label>
    </ion-item>

  
  </ion-list>
</ion-content>

