<ion-content [fullscreen]="true">

  <div class="encabezado">
    <img src="../../../assets/icons/FlechaBoxAmr.svg"  alt="" >
    <p> Restaurantes</p>
  
  </div>

  <img class="fondo" src="../../../assets/imgs/Enmascarargrupo3.png" alt="">
  
  
    
  <div class="cuerpo">
      <div class="contenido"> 
        <!-- <div class="imagen1">
          <img src="../../../assets/imgs/Rectángulo19576.png" alt="">
          <p class="mercado">Abastos</p>
          <div class="prueba">
          <ion-icon class="icono" slot="start" src="../../../assets/icons/Trazado46929.svg"> </ion-icon>
          <p class="direccion">
            Carrer d'Ontinyent, 4, 41800, Valéncia </p>
          
          
        </div>

        </div> -->

        <div class="imagen">
          <img src="../../../assets/imgs/Rectángulo19576.png" alt="">
          <div style="height: 50%;">
          <p class="mercado">Abastos</p>
          <p class="direccion">
          <ion-icon slot="start" src="../../../assets/icons/Trazado46929.svg"> </ion-icon>
          Carrer d'Ontinyent, 4, 41800, Valéncia </p>
        </div>
        </div>

        <div class="imagen">
          <img src="../../../assets/imgs/Rectángulo19577.png" alt="">
          <div style="height: 50%;">
          <p class="mercado">Abastos</p>
          <p class="direccion">
          <ion-icon slot="start" src="../../../assets/icons/Trazado46929.svg"> </ion-icon>
          Carrer d'Ontinyent, 4, 41800, Valéncia </p>
        </div>
        </div>

        
      </div>
      
      
      <ion-button class="negro" >
        Confirmar local
      </ion-button>

      <ion-button class="amarillo" >
        <ion-icon slot="start" src="../../../assets/icons/scooter.svg"></ion-icon>
        Cambiar a reparto a domicilio
      </ion-button>

  </div>



  
</ion-content>
