<ion-content [fullscreen]="true">

  <img class="fondo" src="../../../assets/imgs/Enmascarargrupo3.png" alt="">

  

  
  
  <div class="encabezado">
    <img src="../../../assets/icons/FlechaBoxAmr.svg"  alt="" >
    <p> Restaurantes</p>
  
  </div>
  


  <div>
  <img class="puntero" src="../../../assets/imgs/Grupo11267.png" alt="">
  </div>
  
    
  <div class="cuerpo">
      <div class="contenido"> 
        <div class="imagen1">
        <img src="../../../assets/imgs/Rectángulo19576.png" alt="">
        <p class="mercado">Abastos</p>
        <p class="direccion">
        <ion-icon slot="start" src="../../../assets/icons/Trazado46929.svg"> </ion-icon>
        Carrer </p>

        </div>
        <div class="imagen2">

        </div>
      </div>
      
      
      <ion-button routerLink="/inicio">
        Añadir nueva dirección
      </ion-button>

  </div>



















  
</ion-content>
