

ion-content{
    
        .cuerpo{
            background-color: white;
            height: 88%;
            width: 100%;
            position: relative;
    
            .subtitulo{
            font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 12pt;
            color: black;
            text-align: center;
            position: relative;
            padding-top: 20%;
            padding-bottom: 2%;
            }
            
            .textocontraseña1{
                font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 12pt;
                color:black;
                text-align: center;
                //padding-bottom: 0%;
            }
            .textocontraseña2{
                font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 12pt;
                color:black;
                text-align: center;
                //padding-top: 0%;
                margin-top: -3%;
                
            }
            
    
            .correo{
                width: 90%;
                margin-left: 5%;
                --background: white;
                color: black;
                border: 1px solid black;
                border-radius: 30px;
                //margin-bottom: 5%;
                margin-top: 10%;
                padding-left: 3%;
                .email{
                    font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
                    font-size: 10pt;
                    .iconomail{
                        width: 11px;
                        height: 11px;
                    }
    
                    }
                
            }
    
            .boton{
                --border-radius: 50pt;
                font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
                text-align: center;
                color: black;
                margin: 5%;
                font-size: 11pt;
    
            }
        }
    }