<app-header title="Recordar contraseña"></app-header>



<ion-content >
  
  
  <div class="cuerpo">
    <p class="subtitulo">¿No recuerdas tu contraseña?</p>

  
    <p class="textocontraseña1">Escribe tu email </p>
    <p class="textocontraseña2">y te enviaremos una nueva clave</p>
 

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">

    <ion-item class="correo" lines="none">
      <ion-input class="email" clearInput type="text" placeholder="Email" formControlName="email">
        <ion-icon class="iconomail" slot="start" src="../../../assets/icons/email2.svg"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button class="boton" expand="block" type="button" >Enviar</ion-button>
  </form>
  </div>
</ion-content>