<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-text-center">Introduce tu email</h2>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()" >
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">Enviar</ion-button>
  </form>
</ion-content>