<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'FORGOT_PASSWORD.HEADER' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-text-center">{{'FORGOT_PASSWORD.TITLE' | translate }}</h2>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()" >
    <ion-item>
      <ion-input type="email" placeholder="{{'FORGOT_PASSWORD.EMAIL' | translate }}" formControlName="email">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button type="submit" expand="block">{{'FORGOT_PASSWORD.SEND' | translate }}</ion-button>
  </form>
</ion-content>