
<ion-content [fullscreen]="true">
  
  <div class="encabezado">
    
    
      <ion-icon class="icono" slot="start" src="../../../assets/icons/FlechaBoxAmr.svg" routerLink="/inicio"></ion-icon>
    

      <p class="texto">Descubre la carta</p>
      <p class="texto2">para pedir en mesa</p>


      <img class="blanco" src="../../../assets/imgs/Rectángulo19562.png" alt="">
      <img class="qr" src="../../../assets/imgs/qrCode.png" alt="" routerLink="/menu-on-table">
      

    
  </div>














</ion-content>
