ion-content{
    

    --background: #1B1B1B;
}

h1, h2{

    font-size: 18px;
    margin-left:20px;
    margin: 0;
    margin-left: 20px;
}

h3{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;

}

h5{
    font-size: 18px;
    margin-left:20px;
    margin: 0;
    margin-left: 20px;
    color: #FAD149;

}

img{
    margin-top: -40px;
    width: 180%; 
    height: auto; 
    left: 15%;
    position: relative;
}

.delivery-info-card {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: -25px;
    height: 60%;
    z-index: 1;
    position: relative;
  }
  
  .delivery-info {
    display: flex;
    align-items: center;
    align-items: flex-start;
    flex-direction: column; 
    
  
    h4 {
        color: #141411 ;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

    .location {
        display: flex; /* Cambia a flexbox */
        align-items: center; /* Alinea verticalmente */}
  
    ion-icon {
      font-size: 20px;
      color: #141411;
      margin-right: 5px;
      margin-top: -20px;
    }
  
    p {
      font-size: 16px;
      margin-left: 10px;
      color: #141411;
    }
  }
  
 
  
  .order-details {
    h4 {
        color: #141411 ;
      font-size: 18px;
      font-weight: bold;
    }
  
    p {
      color: #676763;
      font-size: 14px;
      margin: 5px 0 15px 0;
    }
  
    ul {
     
      padding: 0;
  
      li {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        margin-bottom: 10px;
        color: #141411;
      }
  
      span {
        
        color: #141411;
      }
    }
  
  }
  .contact-info {
    background-color: #ffcc00;
    text-align: center;
    padding: 20px 0;
    margin-top: -70px; /* Ajusta el margen según sea necesario */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    box-sizing: border-box; /* Esto asegura que el padding se incluya en el ancho total */
    position: relative; /* Asegúrate de que el z-index funcione */
    z-index: 2; /* Asegúrate de que este valor sea mayor que el de delivery-info-card */
}

.contact-info p {
    font-size: 13px;
    color: #141411;
    margin: 0;
}

.contact-info h4 {
    font-size: 14px;
    color: #141411;
    font-weight: bold;
    margin: 10px 0 0;
}

  