ion-content{

    .cabecera{
        height: 22%;
        width: 100%;
        margin-top: 10%;
        

        .principal{
            display: flex;
            margin-left: 5%;
            
            
            .textos{
                font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
                width: 80%;
                    span{
                        color: #FAD149;    
            } 
            }

            .que{
                margin-top: -5%;

            }
            .carrito{
                    
                            

                        ion-button{
                            justify-content: center;
                            --border-radius:5pt ;
                            min-width: 15px;
                            width: 90%;
                            min-height: 15px;
                            height: 75%;
                            position: relative;

                            ion-icon{
                                size: 6pt;
                                color: black;
                            }

                            ion-badge{
                                --background: gray;
                                width: 17px;
                                display: flex;
                                font-size: 10px;
                                border-radius: 50%;
                                justify-content: center;
                                position: absolute;
                                margin-left: 32px;
                                margin-bottom: 30px;
                               
                            }
                            
                           
                        }
                    
                        
            } 
             
        }

        .añade{
            font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
            color: #FAD149;
            font-size: 10pt;
            margin-left: 5%;
            
        }


        .lupa{
            margin-left: 5%;
            --background: white;
            color: black;
            border: 1px solid black;
            border-radius: 30px;
            width: 88%;


        }


        .botones{
            margin-left: 5%;
            padding-top: 3%;
            display: flex;

            // .modal{

                ion-button{
                width: 97%;
                min-height: 30px;
                height: 36px;
                --border-radius: 30pt;
                    ion-icon{
                        color: black;
                        font-size: 8pt;
                    }

                    ion-text{
                        font-family:"MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif ;
                        font-size: 8pt;
                    }
                }

                

            // }
            

            ion-button{
                width: 30%;
                min-height: 30px;
                height: 36px;
                --border-radius: 30pt;
                

                ion-icon{
                    color: black;
                    font-size: 8pt;
                }

                ion-text{
                    font-family:"MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif ;
                    font-size: 8pt;
                }
            }




        }



        


    }

    .cuerpo{

        background-color: white;
        border-radius: 20pt 20pt 0pt 0pt;
        height: 78%;
        width: 100%;
        padding-top: 5%;
        position: relative;
        margin-top: 8%;

        .contenedor1{
            background-color: #FAD149;
            width: 90%;
            height: 45%;
            margin-left: 5%;
            border-radius: 5%;
            
            img{
                
                width: 100%;
                padding-top: 0%;
                max-height: 125px;
                object-fit: cover;
                border-radius: 10pt 10pt 0pt 0pt;   
            }

            .miercoles{
                font-family:  "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 12pt;
                color: black;
                padding: 0%;
                text-align: left;
                margin-bottom: -1%;
            }

            p{
                font-family:  "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 8pt;
                color: black;
                padding: 0%;
                text-align: left;
                margin-left: 5%;
                margin-bottom: -1%;
            }
            
            ion-button{
                background-color: #FAD149;
                --border-radius: 25pt;
                width: 90%;
                height: 5%;
                margin-left: 5%;
                padding-top: 5%;
                ion-text{
                    font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
                    color: white;
                    font-size: 10pt;
                    span{
                        font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
                    color: white;
                    font-size: 10pt;
                    }
                }

            }

            
                    
        }

        p{
            font-family:"MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif ;
            font-size: 12pt;   
            color: black;
            text-align: center;
        }

        .contenedor2{
            background-color: #FAD149;
            width: 90%;
            height: 40%;
            margin-left: 5%;
            border-radius: 5%;
            padding-top: 5%;
            
            img{
                width: 100%;  
                padding-top: 0%;
                max-height: 125px;
                object-fit: cover;
                border-radius: 10pt 10pt 0pt 0pt;     
            }

            .salsa{
                font-family:"MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif ;
                font-size: 12pt;
                text-align: left;
                margin-left: 5%;
            }

            p{
                font-family:"MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif ;
                font-size: 8pt;
                text-align: left;
                margin-left: 5%;
            }
                    
        }


    }
}
