

.cabecera {
    
    padding: 16px;
  }
  
  .principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .textos {
    text-align: left;
    padding-left: 0; /* Asegúrate de que no haya padding adicional a la izquierda */
    margin: 0; 
    margin-top: 20px;
    
  }
  
  .saludo {
    font-size: 20px;
    font-weight: bold;
    margin: 0; 
    color: white;
    
  }
  
  .nombre {
    color: #FFD700; /* Color amarillo para el nombre */
  }
  
  .pregunta {
    font-size: 20px;
    margin-top: 4px;
    color: white;
    font-weight: bold;
  }
  
  .añade {
    color: #FFD700; /* Color amarillo para el texto */
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .plane{
    margin-left: 2%;
  }
  .carrito{
    margin-right: 5px;
  }
  .carrito-icon{

    width: 25px;
    height: 25px;
  }
  
  .carrito-btn {
    background-color: #FFD700; 
    border-radius: 8px; 
    width: 40px;
    height: 40px;
    position: relative;
  }
  
  .badge {
    background-color: white;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right: 3px;
    font-size: 7px;
    width: 15px; 
    height: 15px; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

  

        .lupa{
           
            width: 90%;
    margin-left: 5%;
    --background: white;
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    //padding-left: 3%;
    margin-bottom: 3%;
           


        }
        


        .botones{
            width: 100%;
            align-items: center;
            justify-content: center;
           margin-top: 10px;
            display: flex;

            // .modal{

                ion-button{
                width: 97%;
                min-height: 30px;
                height: 36px;
                --border-radius: 30pt;
                    ion-icon{
                        color: black;
                        font-size:13px;
                    }

                    ion-text{
                        font-family:"MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif ;
                        font-size: 13px;
                    }
                }

                

            // }
            

            ion-button{
                width: 35%;
                min-height: 30px;
                height: 36px;
                --border-radius: 30pt;
                

               
            }

            



        }

    

    .cuerpo{

        --background: #1B1B1B;

    }

    .content{
       
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        overflow: hidden; 
        background-color: rgb(255, 255, 255);
        z-index: 1;
        width: 100%;
        height: 100%;
        

    }

   
    .promotion-text {
         font-family:"MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif ;
       font-size: 12pt;   
        color: black;
        text-align: left;
        margin-left: 25px;
    }

  
      

        .contenedor1{
            margin-top: 30px;
            background-color: #FAD149;
            width: 90%;
            margin-left: 5%;
            border-radius: 5%;
           

            .oferta-button{
                --background:#000000;
            }
            
            img{
                
                width: 100%;
                padding-top: 0%;
                max-height: 125px;
                object-fit: cover;
                border-radius: 10pt 10pt 0pt 0pt;   
            }

            .miercoles{
                font-family:  "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 12pt;
                color: black;
                padding: 0%;
                text-align: left;
                margin-bottom: -1%;
            }

            p{
                font-family:  "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 13px;
                color: black;
                padding: 0%;
                text-align: left;
                margin-left: 5%;
                margin-bottom: -1%;
            }
            
            
            ion-button{
                background-color: #FAD149;
                --border-radius: 25pt;
                width: 90%;
                height: 5%;
                margin-left: 5%;
                padding-top: 5%;
                margin-bottom: 20px;
                ion-text{
                    font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
                    color: white;
                    font-size: 10pt;
                    span{
                        font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
                    color: white;
                    font-size: 10pt;
                    }
                }

            }

          
        }
        

       


        .contenedor2{
            background-color: #FAD149;
            width: 90%;
            height: 40%;
            margin-left: 5%;
            border-radius: 5%;
            padding-top: 5%;
            
            img{
                width: 100%;  
                padding-top: 0%;
                max-height: 125px;
                object-fit: cover;
                border-radius: 10pt 10pt 0pt 0pt;     
            }

            .salsa{
                font-family:"MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif ;
                font-size: 16px;
                text-align: left;
                margin-left: 5%;
                margin-bottom: -5px;
                color:#000000;
            }

            .salsa-text{
                font-family:"MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif ;
                font-size: 13px;
                text-align: left;
                margin-left: 5%;
                color:#000000;
              
            }
                    
        }
        .seek{
            margin-left: 5%;
        }

    

