
<ion-content [fullscreen]="true">

  <div class="cabecera">
    <p style="padding-top: 10%;">Hola <ion-text color="primary">Juan</ion-text>,</p>
    <p class="pedir">¿qué te apetece pedir hoy?
      <ion-button class="cart" color= "primary" routerLink="/cart">
        <ion-icon slot="start" src="../../../assets/icons/Trazado46917.svg"></ion-icon>
        <ion-text color="secondary" routerLink="/login"></ion-text>
      </ion-button>
    </p>
    <p class="añade">
    Añade tu dirección <img src="../../../assets/icons/flechaAbajoAmar.svg" width="10px">
  </p>

  

  <ion-item class="lupa" lines="none">
    <ion-input clearInput type="text" placeholder="Buscar" >
      <ion-icon slot="start" src="../../../assets/icons/lupa.svg"></ion-icon>
    </ion-input>
  </ion-item>

  
    
  
    <ion-button color= "primary" >
      <ion-icon slot="start" src="../../../assets/icons/scooter.svg"></ion-icon>
      <ion-text color="secondary"  routerLink="/to-home">A domicilio</ion-text>
    </ion-button>

    <ion-button color= "primary" >
      <ion-icon slot="start" src="../../../assets/icons/ramen.svg"></ion-icon>
      <ion-text color="secondary" routerLink="/login">Recogida</ion-text>
    </ion-button>

    <ion-button color= "primary" >
      <ion-icon slot="start" src="../../../assets/icons/QR.svg"></ion-icon>
      <ion-text color="secondary" routerLink="/qr-scanner">En mesa</ion-text>
    </ion-button>
  </div>


  <div class="cuerpo">
      

    

      <div style="padding-top: 0%;" class="contenedor1">
        
        <img src="../../../assets/imgs/Rectángulo19455.png" alt="">
        <p class="miercoles">Miércoles Thai</p>
        <p>¡Rompe con tu rutina semanal y disfruta de nuestras</p>
        <p>delicias tailandesas por un precio espectacular!</p>

        <ion-button color="secondary">
          
          <ion-text>Sólo para ti por <span>6,95€</span> </ion-text>
        </ion-button>
   
      </div>
        
        

    <p>¡Descubre nuestras promociones!</p>



    <div style="padding-top: 0%;" class="contenedor2">

      <img src="../../../assets/imgs/Rectángulo19506.png" alt="">

      <p class="salsa">Prueba nuestra salsa</p>
      <p>Descubre las Curiosidades de Nuestra Salsa Picante:</p>

    </div>
    
  </div>













</ion-content>
