
<ion-content [fullscreen]="true">

  <div class="cabecera">
    <p style="padding-top: 20%;">Hola <ion-text color="primary">Juan</ion-text>,</p>
    <p class="pedir">¿qué te apetece pedir hoy?</p>
    <p class="añade">
    Añade tu dirección <img src="../../../assets/icons/flechaAbajoAmar.svg" width="10px">
  </p>

  <ion-item class="lupa" lines="none">
    <ion-input clearInput type="text" placeholder="Buscar" >
      <ion-icon slot="start" src="../../../assets/icons/lupa.svg"></ion-icon>
    </ion-input>
  </ion-item>

  
    
  
    <ion-button color= "primary" >
      <ion-icon slot="start" src="../../../assets/icons/scooter.svg"></ion-icon>
      <ion-text color="secondary" routerLink="/login">A domicilio</ion-text>
    </ion-button>

    <ion-button color= "primary" >
      <ion-icon slot="start" src="../../../assets/icons/ramen.svg"></ion-icon>
      <ion-text color="secondary" routerLink="/login">Recogida</ion-text>
    </ion-button>

    <ion-button color= "primary" >
      <ion-icon slot="start" src="../../../assets/icons/QR.svg"></ion-icon>
      <ion-text color="secondary" routerLink="/login">En mesa</ion-text>
    </ion-button>
  </div>


  <div class="cuerpo">

    <div class="contenedor1">
      <img src="../../../assets/imgs/Rectángulo19455.png" alt="">

    </div>

    <p>¡Descubre nuestras promociones</p>

    <div class="contenedor2">

    </div>

    <div class="pie">

    </div>

  </div>













</ion-content>
