<app-header> </app-header>

<ion-content [fullscreen]="true">
  
  <div class="order-info">

<h1> ¡Pasooooo! </h1>
<h2>¡Que voy ardiendo! </h2>
<h3>¡De camino!</h3>

<h1>Ya casi estamos… </h1>
<h5> ¡Vamos para allá! </h5>

  </div>

  <img src="assets/imgs/Grupo11433@3x.png" alt="header-img" />

   <!-- Contenedor para la tarjeta blanca -->
   <div class="delivery-info-card">
    <div class="delivery-info">
      <h4>Datos de entrega</h4>
      <div class="location">
      <ion-icon src="assets/icons/mapPin2.svg"></ion-icon>
      <p>Calle Siervas de Maria, 2, 1C, Jerez de la Frontera, 11401</p>
    </div>
  </div>

    <hr />

    <div class="order-details">
      <h4>Datos del pedido</h4>
      <p>Pedido número 394939292</p>
      <ul>
        <li>x3 Gambas bites <span>20,85 €</span></li>
        <li>x1 Delicias al vapor <span>7,50 €</span></li>
        <li>x1 Edamame <span>6,95 €</span></li>
        <li>x1 Edamame <span>6,95 €</span></li>
      </ul>
    </div>
    <div class="cancel-order">
      <ion-button class="cancel-button">
        Cancelar pedido
      </ion-button>
    </div>
  </div>
  

</ion-content>
