<app-header title="Añadir nueva tarjeta"></app-header>

<ion-content class="body">

  <ion-list class="details" lines="none">
    <ion-item class="card-name" lines="none">
      <ion-input label="Titular de la tarjeta" placeholder="Nombre del titular" value="Juan Galván" labelPlacement="floating"></ion-input>
      <ion-icon slot="end"  src="assets/icons/close.svg" class="close-icon"></ion-icon> 
    </ion-item>

  <ion-item class="card-details" lines="none">
    <ion-input class="name" clearInput type="text" placeholder="**** **** **** 0000" ></ion-input>
  </ion-item>

  <ion-item class="card-details" lines="none">
    <ion-input class="name" clearInput type="text" placeholder="***" ></ion-input>
  </ion-item>

  <ion-item class="card-details" lines="none">
    <ion-input class="name" clearInput type="text" placeholder="26/06/2026" ></ion-input>
  </ion-item>

</ion-list>

<ion-button class="save-button" shape="round">Guardar cambios</ion-button>

<ion-button class="delete-button" shape="round">Eliminar tarjeta</ion-button>
  
</ion-content>
