ion-label{
    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif ;
}
ion-tab-bar{
    --background: #FFE48B;
}
ion-tab-button{
    --color:#88895E;
    --color-selected:#1D1D1B;
}