
ion-label{
    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif ;
    
}
ion-tab-bar{
    --background: #FFE48B;
    height: 75px;
}
ion-tab-button{
    margin-bottom: 20px;
}

ion-tab-button{
    --color:#88895E;
    --color-selected:#1D1D1B;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 

}
ion-icon{
    margin-bottom: 2px; 
   
    width: 24px;  
    height: 24px; 
}

.thai-icon{
    transform: scale(1.5); 
    color: inherit;
   
}


