<app-header title="Mis pedidos"></app-header>


<ion-content [fullscreen]="true" *ngIf="selectedSegment === 'in-progress'">
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="in-progress">
      En curso
    </ion-segment-button>
    <ion-segment-button value="delivered">
      Entregados
    </ion-segment-button>
  </ion-segment>
  <ion-card routerLink="/order-info">
    <ion-item lines="none">
      <ion-button class="noodle-button">
        <ion-icon src="assets/icons/noodles_7735908.svg" slot="start"></ion-icon>
      </ion-button>
      <ion-card-content>
        <div class="order-details">
          <p class="order-status">En reparto · 10/06/2024</p>
          <p class="order-info">3 unidades · <strong>20,85 €</strong></p>
        </div>
     </ion-card-content>
      <ion-icon src="assets/icons/arrow-forward.svg" slot="end" class="arrow-icon"></ion-icon> <!-- Icono de flecha -->
    </ion-item>
  </ion-card>
  
</ion-content>

<ion-content [fullscreen]="true" *ngIf="selectedSegment === 'delivered'">
  <ion-segment [(ngModel)]="selectedSegment">
    <ion-segment-button value="in-progress">
      En curso
    </ion-segment-button>
    <ion-segment-button value="delivered">
      Entregados
    </ion-segment-button>
  </ion-segment>
  
  <ion-card>
    <ion-item lines="none"routerLink="/order-delivered">
      <ion-button class="noodle-button">
        <ion-icon src="assets/icons/noodles_7735908.svg" slot="start"></ion-icon>
      </ion-button>
      <ion-card-content>
        <div class="order-details">
          <p class="order-status">Entregado · 10/06/2024</p>
          <p class="order-info">3 unidades · <strong>20,85 €</strong></p>
        </div>
     </ion-card-content>
      <ion-icon src="assets/icons/arrow-forward.svg" slot="end" class="arrow-icon"></ion-icon> <!-- Icono de flecha -->
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-button class="noodle-button">
        <ion-icon src="assets/icons/noodles_7735908.svg" slot="start"></ion-icon>
      </ion-button>
      <ion-card-content>
        <div class="order-details">
          <p class="order-status">Entregado · 6/05/2024</p>
          <p class="order-info">2 unidades · <strong>14,99 €</strong></p>
        </div>
      </ion-card-content>
      <ion-icon src="assets/icons/arrow-forward.svg" slot="end" class="arrow-icon"></ion-icon> <!-- Icono de flecha -->
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-button class="noodle-button">
        <ion-icon src="assets/icons/noodles_7735908.svg" slot="start"></ion-icon>
      </ion-button>
      <ion-card-content>
        <div class="order-details">
          <p class="order-status">Entregado · 24/04/2024</p>
          <p class="order-info">6 unidades · <strong>36,85 €</strong></p>
        </div>
     </ion-card-content>
      <ion-icon src="assets/icons/arrow-forward.svg" slot="end" class="arrow-icon"></ion-icon> <!-- Icono de flecha -->
    </ion-item>
  </ion-card>

</ion-content>
