<ion-content>

  <div class="encabezado">

        
        
    <img src="../../../assets/icons/FlechaBoxAmr.svg"  alt="" >
    <p> Abastos</p>
        

  </div> 

  <div class="cuerpo">
    

    <div clas="iconos">

      <div class="espcialidades">

        <ion-button color= "primary" >
          <ion-icon src="../../../assets/icons/noodles_679198.svg"></ion-icon>
        </ion-button>
        <p style="font-size: 6pt;">Especialidades</p>

      </div>

      <div class="sopas">

      </div>
      
      <div class="ensaladas">

      </div>

      <div class="veganos">

      </div>

      <div class="postres">

      </div>

      <div class="bebidas">

      </div>
      
      

    </div>

    <div class="listado">

      <p class="entrantes">Entrantes</p>

      <ion-list>
        <ion-item>
          <img src="../../../assets/imgs/bolitas-de-gamba-scaled(1).png" alt="">
          <ion-label >

            
            <p class="plato">Gambas bites</p>
            <div>
              <ion-icon src="../../../assets/icons/Grupo11350.svg"></ion-icon>
              <ion-icon src="../../../assets/icons/Grupo11351.svg"></ion-icon>  
              <ion-icon src="../../../assets/icons/Grupo11359.svg"></ion-icon>
            </div>
            <div>
              <ion-icon slot="icon-only" src="../../../assets/icons/symbPositive.svg"></ion-icon>
              <ion-text class="precio" >  6,95€  </ion-text>
            </div>
            <p>Bolas crujientes de gamba</p>
            <p>acompañadas de una salsa a elegir.</p>

          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img class="thaiBites" src="../../../assets/imgs/Fotos-Glovo-y-web-nueva-6-600x600.png" alt="">
          <ion-label >
            
            <p class="plato">Thai bites</p>
            
            
            
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <img src="../../../assets/imgs/9.TEMPURAGAMBAS.png" alt="">
          <ion-label >
            
            <p class="plato">Tempura de gambas</p>
            
            
            
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list lines="none">
        <ion-item>
          <img src="../../../assets/imgs/delicias-500x501.png" alt="">
          <ion-label >
            
            <p class="plato">Delicias al vapor</p>
            
            
            
          </ion-label>
        </ion-item>
      </ion-list>


    </div>




  </div>























</ion-content>
