// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@font-face {
  font-family: 'MontserratAlternates-Black';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-Black.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-BlackItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-BlackItalic.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-Bold.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-BoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-BoldItalic.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-ExtraBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-ExtraBold.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-ExtraBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-ExtraBoldItalic.ttf');
}


@font-face {
  font-family: 'MontserratAlternates-ExtraLight';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-ExtraLight.ttf');
}


@font-face {
  font-family: 'MontserratAlternates-ExtraLightItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-ExtraLightItalic.ttf');
}


@font-face {
  font-family: 'MontserratAlternates-Italic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-Italic.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-Light';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-Light.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-LightItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-LightItalic.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-Medium.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-MediumItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-Mediumtalic.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-Regular.ttf');
}

@font-face {
  font-family: 'MontserratAlternates-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-SemiBold');
}

@font-face {
  font-family: 'MontserratAlternates-SemiBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-SemiBoldItalic');
}

@font-face {
  font-family: 'MontserratAlternates-Thin';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-Thin');
}

@font-face {
  font-family: 'MontserratAlternates-ThinItalic';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MontserratAlternates-ThinItalic');
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #FAD149 !important;
  --ion-color-primary-rgb: 250,209, 73 !important;
  --ion-color-primary-contrast: #ffffff !important;
  --ion-color-primary-contrast-rgb: 255, 255, 255 !important;
  --ion-color-primary-shade: #3171e01f !important;
  --ion-color-primary-tint: #4c8eff34 !important;

  /** secondary **/
  --ion-color-secondary: #1B1B1B !important;
  --ion-color-secondary-rgb: 27, 27, 27 !important;
  --ion-color-secondary-contrast: #ffffff !important;
  --ion-color-secondary-contrast-rgb: 255, 255, 255 !important;
  --ion-color-secondary-shade: #36abe0 !important;
  --ion-color-secondary-tint: #50c8ff !important;

  /** tertiary **/
  --ion-color-tertiary: #FFFFFF !important;
  --ion-color-tertiary-rgb: 255, 255, 255 !important;
  --ion-color-tertiary-contrast: #ffffff !important;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255 !important;
  --ion-color-tertiary-shade: #4854e0 !important;
  --ion-color-tertiary-tint: #6370ff !important;

  /** success **/
  --ion-color-success: #2dd36f !important;
  --ion-color-success-rgb: 45, 211, 111 !important;
  --ion-color-success-contrast: #ffffff !important;
  --ion-color-success-contrast-rgb: 255, 255, 255 !important;
  --ion-color-success-shade: #28ba62 !important;
  --ion-color-success-tint: #42d77d !important;

  /** warning **/
  --ion-color-warning: #ffc409 !important;
  --ion-color-warning-rgb: 255, 196, 9 !important;
  --ion-color-warning-contrast: #000000 !important;
  --ion-color-warning-contrast-rgb: 0, 0, 0 !important;
  --ion-color-warning-shade: #e0ac08 !important;
  --ion-color-warning-tint: #ffca22 !important;

  /** danger **/
  --ion-color-danger: #eb445a !important;
  --ion-color-danger-rgb: 235, 68, 90 !important;
  --ion-color-danger-contrast: #ffffff !important;
  --ion-color-danger-contrast-rgb: 255, 255, 255 !important;
  --ion-color-danger-shade: #cf3c4f !important;
  --ion-color-danger-tint: #ed576b !important;

  /** dark **/
  --ion-color-dark: #222428 !important;
  --ion-color-dark-rgb: 34, 36, 40 !important;
  --ion-color-dark-contrast: #ffffff !important;
  --ion-color-dark-contrast-rgb: 255, 255, 255 !important;
  --ion-color-dark-shade: #1e2023 !important;
  --ion-color-dark-tint: #383a3e !important;

  /** medium **/
  --ion-color-medium: #92949c !important;
  --ion-color-medium-rgb: 146, 148, 156 !important;
  --ion-color-medium-contrast: #ffffff !important;
  --ion-color-medium-contrast-rgb: 255, 255, 255 !important;
  --ion-color-medium-shade: #808289 !important;
  --ion-color-medium-tint: #9d9fa6 !important;

  /** light **/
  --ion-color-light: #f4f5f8 !important;
  --ion-color-light-rgb: 244, 245, 248 !important;
  --ion-color-light-contrast: #000000 !important;
  --ion-color-light-contrast-rgb: 0, 0, 0 !important;
  --ion-color-light-shade: #d7d8da !important;
  --ion-color-light-tint: #f5f6f9 !important;

  --fc-small-font-size: .85em !important;

  // Color de fondo del calendario
  --fc-page-bg-color: #ffffff !important;
  --fc-neutral-bg-color: hsla(0, 0%, 82%, .3) !important;
  --fc-neutral-text-color: grey !important;
  --fc-border-color: #ddd !important;
  
  // Color flechas de arriba (botones cambio mes)
  --fc-button-text-color: #1a1a1a !important;
  --fc-button-bg-color: var(--fc-page-bg-color) !important;
  --fc-button-border-color: #ffffff00 !important;
  --fc-button-hover-bg-color: #ffffff00 !important;
  --fc-button-hover-border-color: #ffffff00 !important;
  --fc-button-active-bg-color: #ffffff00 !important;
  --fc-button-active-border-color: #ffffff00 !important;

  --fc-event-bg-color: var(--ion-color-primary) !important;
  --fc-event-border-color: var(--ion-color-primary-shade) !important;
  --fc-event-text-color: #fff !important;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, .25) !important;
  --fc-more-link-bg-color: #d0d0d0 !important;
  --fc-more-link-text-color: inherit !important;
  --fc-event-resizer-thickness: 8px !important;
  --fc-event-resizer-dot-total-width: 8px !important;
  --fc-event-resizer-dot-border-width: 1px !important;
  --fc-non-business-color: hsla(0, 0%, 84%, .3) !important;
  --fc-bg-event-color: #8fdf82 !important;
  --fc-bg-event-opacity: 0.3 !important;

  // Color del día seleccionado
  --fc-highlight-color: var(--ion-color-primary-tint) !important;

  // Color del día de hoy
  --fc-today-bg-color: var(--ion-color-primary-tint) !important;
  --fc-now-indicator-color: red;

  --ion-font-family: 'DMSans-Regular';
  --ion-font-family-headers: 'DMSans-Bold';

  // BORDERS PARA TODA LA APP
  --app-border-radius: 12px;
}




@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
  /** primary **/
  --ion-color-primary: #FAD149 !important;
  --ion-color-primary-rgb: 250, 209, 73 !important;
  --ion-color-primary-contrast: #ffffff !important;
  --ion-color-primary-contrast-rgb: 255, 255, 255 !important;
  --ion-color-primary-shade: #3171e01f !important;
  --ion-color-primary-tint: #4c8eff34 !important;

  /** secondary **/
  --ion-color-secondary: #1B1B1B !important;
  --ion-color-secondary-rgb: 27, 27, 27 !important;
  --ion-color-secondary-contrast: #ffffff !important;
  --ion-color-secondary-contrast-rgb: 255, 255, 255 !important;
  --ion-color-secondary-shade: #36abe0 !important;
  --ion-color-secondary-tint: #50c8ff !important;

  /** tertiary **/
  --ion-color-tertiary: #FFFFFF !important;
  --ion-color-tertiary-rgb: 255, 255, 255 !important;
  --ion-color-tertiary-contrast: #ffffff !important;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255 !important;
  --ion-color-tertiary-shade: #4854e0 !important;
  --ion-color-tertiary-tint: #6370ff !important;

  /** success **/
  --ion-color-success: #2dd36f !important;
  --ion-color-success-rgb: 45, 211, 111 !important;
  --ion-color-success-contrast: #ffffff !important;
  --ion-color-success-contrast-rgb: 255, 255, 255 !important;
  --ion-color-success-shade: #28ba62 !important;
  --ion-color-success-tint: #42d77d !important;

  /** warning **/
  --ion-color-warning: #ffc409 !important;
  --ion-color-warning-rgb: 255, 196, 9 !important;
  --ion-color-warning-contrast: #000000 !important;
  --ion-color-warning-contrast-rgb: 0, 0, 0 !important;
  --ion-color-warning-shade: #e0ac08 !important;
  --ion-color-warning-tint: #ffca22 !important;

  /** danger **/
  --ion-color-danger: #eb445a !important;
  --ion-color-danger-rgb: 235, 68, 90 !important;
  --ion-color-danger-contrast: #ffffff !important;
  --ion-color-danger-contrast-rgb: 255, 255, 255 !important;
  --ion-color-danger-shade: #cf3c4f !important;
  --ion-color-danger-tint: #ed576b !important;

  /** dark **/
  --ion-color-dark: #222428 !important;
  --ion-color-dark-rgb: 34, 36, 40 !important;
  --ion-color-dark-contrast: #ffffff !important;
  --ion-color-dark-contrast-rgb: 255, 255, 255 !important;
  --ion-color-dark-shade: #1e2023 !important;
  --ion-color-dark-tint: #383a3e !important;

  /** medium **/
  --ion-color-medium: #92949c !important;
  --ion-color-medium-rgb: 146, 148, 156 !important;
  --ion-color-medium-contrast: #ffffff !important;
  --ion-color-medium-contrast-rgb: 255, 255, 255 !important;
  --ion-color-medium-shade: #808289 !important;
  --ion-color-medium-tint: #9d9fa6 !important;

  /** light **/
  --ion-color-light: #f4f5f8 !important;
  --ion-color-light-rgb: 244, 245, 248 !important;
  --ion-color-light-contrast: #000000 !important;
  --ion-color-light-contrast-rgb: 0, 0, 0 !important;
  --ion-color-light-shade: #d7d8da !important;
  --ion-color-light-tint: #f5f6f9 !important;

  --fc-small-font-size: .85em !important;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
  
    --ion-font-family: 'Montserrat Alternates', sans-serif;
    --ion-background-color: #1B1B1B;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: transparent;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

 



  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
