ion-content{
    //background-size: cover;
    //--background:url('/assets/imgs/base-background.jpg');
    
.titulo{

  margin-top: 15%;
  margin-left: 35%;
  height: 30%;

}

.fondo2{
    background-color: white;
    border-radius: 30pt 30pt 0pt 0pt;
    height: 70%;
    margin-top: 10%;
    position: relative;

    .login{
        font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        color: black;
        //margin-top: 20%;
        padding-top: 8%;
        font-size: 27px;
    }

    

    .correo{
        width: 90%;
        margin-left: 5%;
        --background: white;
        color: black;
        border: 1px solid black;
        border-radius: 30px;
        margin-bottom: 5%;
        //margin-top: 10%;
        padding-left: 3%;
        ion-input{
        font-family: "MontserratAlternates-Regular",  Arial, "Helvetica Neue", Helvetica, sans-serif;
        }
    }

    .contraseña{
        width: 90%;
        margin-left: 5%;
        --background: white;
        color: black;
        border: 1px solid black;
        border-radius: 30px;
        padding-left: 3%;
        
    }

    .recordarpass{
        font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        color: black;
        //margin-top: 10%;
        padding-top: 2%;
        font-size: 10pt;
    }

    .boton{
        --border-radius: 50pt;
        font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        color: black;
        margin: 5%;
        font-size: 11pt;

    }

    .pie{
        font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-left: 20%;
        color: black;
        //margin-top: 65%;
        position:absolute;
        bottom: 5%;
        font-size: 10pt;

        
       
    }
}





}