
    
    
.head{

    background-color: #1B1B1B;
    width: 100%;
    height: 20%;
}

.img-logo{
    align-items: center;
    width: 90px;
    height: 90px;
    margin-left: 35%;
    margin-top: 15%;
}


.body{
    height: 80%;
    width: 100%;
    --background: #1B1B1B !important;
    

}

.content{
    background-color: white;
    border-radius: 25pt 25pt 0pt 0pt;
    height: 100%;
    width: 100%;
    margin-top: -6%;
    
    
}

    .login{
        font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        color: black;
        padding-top: 8%;
        font-size: 27px;
    }

    

    .correo{
        width: 90%;
        margin-left: 5%;
        --background: white;
        color: #1B1B1B;
        border: 1px solid black;
        border-radius: 30px;
        margin-bottom: 5%;
        font-size: 10pt;
        padding-left: 3%;
        
        font-family: "MontserratAlternates-Regular",  Arial, "Helvetica Neue", Helvetica, sans-serif;
        
    }

    .contraseña{
        width: 90%;
        margin-left: 5%;
        --background: white;
        color: #72808B;
        border: 1px solid black;
        border-radius: 30px;
        padding-left: 3%;
        font-family: "MontserratAlternates-Regular",  Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 10pt;
    }

    .recordarpass{
        font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        color: black;
        //margin-top: 10%;
        padding-top: 2%;
        font-size: 10pt;
    }

    .boton{
        --border-radius: 50pt;
        font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        color: black;
        margin: 5%;
        font-size: 11pt;

    }

    .pie{
        font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-left: 20%;
        color: black;
        //margin-top: 65%;
        position:absolute;
        bottom: 5%;
        font-size: 10pt;

        
       
    }






