<ion-header class="head">
  <img class="img-logo" src="assets/imgs/LitlleThai.png" alt="">

</ion-header>


<ion-content class="body" >
  
  

  <div class="content">

    <p class="login">Login</p>

    
      
      <ion-item class="correo" lines="none">
        <ion-input clearInput type="text" placeholder="correo@prueba.com" formControlName="email">
          <ion-icon slot="start" src="../../../assets/icons/email.svg"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item  class="contraseña" lines="none">

        <ion-input clearInput type="password" placeholder="{{'LOGIN.PASSWORD' | translate }}" formControlName="password">
          <ion-icon slot="start" src="../../../assets/icons/password.svg"></ion-icon>
          <ion-input-password-toggle ></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <p class="recordarpass"><u routerLink="/forgot-password">He olvidado mi contraseña</u></p>

      <ion-button class="boton" shape="round" expand="block" type="button" routerLink="/bienvenida">Entrar</ion-button>
      
      


      <p class="pie">¿Aún no tienes cuenta? <span style="font-family: MontserratAlternates-Bold;" routerLink="/register">Regístrate</span>

      </p>



   





  </div>
  
  
  
      
</ion-content>