<ion-content  >
  <div class="titulo">
  <img class="img-logo" src="assets/imgs/LitlleThai.png" alt="">
  </div>
  

  <div class="fondo2">
    <p class="login">Login</p>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      
      <ion-item class="correo" lines="none">
        <ion-input clearInput type="text" placeholder="{{'LOGIN.USER' | translate }}" formControlName="email">
          <ion-icon slot="start" src="../../../assets/icons/email.svg"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item  class="contraseña" lines="none">

        <ion-input clearInput type="password" placeholder="{{'LOGIN.PASSWORD' | translate }}" formControlName="password">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input-password-toggle ></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <p class="recordarpass"><u routerLink="/forgot-password">He olvidado mi contraseña</u></p>

      <ion-button class="boton" shape="round" expand="block" type="button" routerLink="/bienvenida">Entrar</ion-button>
      <!--{{'LOGIN.SIGNUP' | translate }}-->
      


      <p class="pie">¿Aún no tienes cuenta? <span style="font-family: MontserratAlternates-Bold;" routerLink="/register">Regístrate</span>

      </p>



    </form>





  </div>
  
  
  
      
</ion-content>