<app-header title="Dirección"></app-header>

<ion-content [fullscreen]="true">
  
  <img class="fondo" src="../../../assets/imgs/Enmascarargrupo3.png" alt="">

  <div>
  <img class="puntero" src="../../../assets/imgs/Grupo11267.png" alt="">
  </div>
  
  <div class="cuerpo">


    
    <p class="entrega">Selecciona tu dirección de entrega</p>

    <div class="direccion1">
      <ion-button color= "primary"  >
        <ion-icon src="../../../assets/icons/mappin.svg"></ion-icon>
      </ion-button>
      <div class="calle">
        <p class="street">Calle Siervas de María, 2, 1c</p>
        <p class="cp">11401 Jerez de la Frontera</p>
      </div>
    </div>

    <div class="direccion2">
      <ion-button color= "primary"  >
        <ion-icon  src="../../../assets/icons/mappin.svg"></ion-icon>
      </ion-button>
      <div class="calle">
        <p class="street">Calle Colón, 24, 2B</p>
        <p class="cp">46001, Valencia</p> 
      </div>
      <img src="../../../assets/icons/Grupo11406.svg" alt="">
    </div>
    

    
    
    <ion-button routerLink="/inicio">
      Añadir nueva dirección
    </ion-button>



  </div>











</ion-content>
