.head{
  background-color: #1B1B1B;
  height: 15%;
  width: 100%;
}
  
  .img-logo{
      align-items: center;
      margin-left: 40%;
      width: 70px;
      height: 60px;
      margin-top: 12%;
  }
  



.body{
  --background: #1B1B1B !important;
  height: 85%;
  width: 100%;


}

  
  
  .fondo2{
      background-color: white;
      border-radius: 25pt 25pt 0pt 0pt;
      height: 100%;
      width: 100%;
      margin-top: -6%;
      //position: relative;

      form{
        ion-item{
            
            ion-input{
                font-size: 10pt;
                font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif ;
                
                
            }
            

            p{
                font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
                font-size: 8pt;
                color: black;
                margin-top: 2%;
                margin-bottom: 2%;
                
                
                u{
                    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
                }
            }
        }
      }
     

      .login{
        font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
        text-align: center;
        color: black;
        //margin-top: 20%;
        padding-top: 8%;
        font-size: 27px;
    }
  
       .telefono{
        width: 90%;
        margin-left: 5%;
        --background: white;
        color: #141411;
        border: 1px solid #141411;
        border-radius: 30px;
        padding-left: 3%;
        margin-bottom: 5%;
        font-size: 10pt;
        
       } 

       .nombre{
        width: 90%;
        margin-left: 5%;
        --background: white;
        color: #72808B;
        border: 1px solid #72808B;
        border-radius: 30px;
        padding-left: 3%;
        margin-bottom: 5%;
        font-size: 10pt;
        
       }

       .apellidos{
        width: 90%;
        margin-left: 5%;
        --background: white;
        color: #72808B;
        border: 1px solid #72808B;
        border-radius: 30px;
        padding-left: 3%;
        margin-bottom: 5%;
        font-family: "MontserratAlternates-Regular",  Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 10pt;
      }


      
  
      
  
      .correo{
          width: 90%;
          margin-left: 5%;
          --background: white;
          color: #72808B;
          border: 1px solid #72808B;
          border-radius: 30px;
          margin-bottom: 5%;
          //margin-top: 10%;
          padding-left: 3%;
          ion-input{
          font-family:"MontserratAlternates-Regular",  Arial, "Helvetica Neue", Helvetica, sans-serif;
          font-size: 10pt;
        }
      }
  
      .contraseña{       
          width: 90%;
          margin-left: 5%;
          --background: white;
          color: #72808B;
          border: 1px solid #72808B;
          border-radius: 30px;
          padding-left: 3%;
          margin-bottom: 5%;
          font-size: 10pt;
          
          
      }
  
      .repetircontraseña{
        width: 90%;
        margin-left: 5%;
        --background: white;
        color: #72808B;
        border: 1px solid #72808B;
        border-radius: 30px;
        padding-left: 3%;
        font-family: "MontserratAlternates-Bold",  Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 10pt;
      }

      .cajoncheck{
        --background: white;
        margin-left: 12%;
        margin-top: 5%;
        color:#2E2D2E;

        u{
          font-family: "MontserratAlternates-Bold",  Arial, "Helvetica Neue", Helvetica, sans-serif;
        }



      .check{
        --checkbox-background-checked: #141411;
        margin-right: 2%;
        --size: 25px;
        --border-radius: 0px; /* Cuadrado */
        --border-color: #ccc;
        --background: transparent;
        --border-width: 2px;
        --border-color-checked: #141411; /* Color de borde cuando está seleccionado */
          
        
        
        
      }

      .terms{
        color: #2E2D2E;
      }
      
        
      }
      .parraf-1{
        margin-bottom: 1.5%;
      }
      .parraf-2{
        margin-top: 1.5%;
      }
      
      

      .boton{
          --border-radius: 50pt;
          font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
          text-align: center;
          color: black;
          margin: 5%;
          font-size: 11pt;
  
      }
  
      .pie{
          font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
          margin-left: 20%;
          color: black;
          
          
          bottom: 5%;
          font-size: 10pt;
  
          
         
      }
  }
  
  
  
  
  
  