<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
      <p class="ion-text-center">Crea una nueva cuenta, es realmente facil!</p>
      <ion-item>
        <ion-input clearInput type="text" placeholder="Nombre de usuario" formControlName="name" required>
          <ion-icon slot="start" name="person-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input clearInput type="email" placeholder="Email" formControlName="email" required>
          <ion-icon slot="start" name="mail-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input clearInput type="password" placeholder="Contraseña" formControlName="password" required>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input clearInput type="password" placeholder="Confirma la contraseña"
          formControlName="password_confirmation" required>
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!form.valid" color="tertiary">Crear cuenta</ion-button>
      <ion-button expand="block" type="button" routerLink="/login">Tienes cuenta?</ion-button>
    </form>
</ion-content>