<ion-header class="head">
  
    <img class="img-logo" src="assets/imgs/LitlleThai.png" alt="">
    
</ion-header>


<ion-content class="body" >
  
  <div class="fondo2">

    <p class="login">Registro</p>

    <!-- <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()"> -->
      
      <ion-item class="telefono" lines="none">
        <ion-input clearInput type="text" placeholder="Teléfono" >
          <ion-icon slot="start" src="../../../assets/icons/telefono.svg"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item class="nombre" lines="none">
        <ion-input clearInput type="text" placeholder="Nombre" >
          <ion-icon slot="start" src="../../../assets/icons/user.svg"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item class="apellidos" lines="none">
        <ion-input  clearInput type="text" placeholder="Apellidos" >
          <ion-icon slot="start" src="../../../assets/icons/user.svg"></ion-icon>
        </ion-input>
      </ion-item>




      <ion-item class="correo" lines="none">
        <ion-input clearInput type="text" placeholder="{{'LOGIN.USER' | translate }}" formControlName="email">
          <ion-icon slot="start" src="../../../assets/icons/email2.svg"></ion-icon>
        </ion-input>
      </ion-item>


      <ion-item  class="contraseña" lines="none">
        <ion-input clearInput type="password" placeholder="Contraseña" formControlName="password">
          <ion-icon slot="start" src="../../../assets/icons/password.svg"></ion-icon>
          <ion-input-password-toggle ></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-item  class="repetircontraseña" lines="none">
        <ion-input clearInput type="password" placeholder="Repetir contraseña" formControlName="password">
          <ion-icon slot="start" src="../../../assets/icons/password.svg"></ion-icon>
          <ion-input-password-toggle ></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-item class="cajoncheck" lines="none">

        <ion-checkbox slot="start" class="check" aria-checked="false">
          
        </ion-checkbox>
        <div class="terms">
        <p class="parraf-1" style="font-size: 10pt;">He leido y acepto la <u routerLink="/privacy-policy">Política de Privacidad</u></p>
        <p class="parraf-2" style="font-size: 10pt;">y <u routerLink="/terms">los Términos y Condiciones de Venta</u></p>
        </div>
      </ion-item>

      <ion-button class="boton" shape="round" expand="block" type="button" routerLink="/verificacion">Registrarme</ion-button>
      <!--{{'LOGIN.SIGNUP' | translate }}-->
      


      <p class="pie">¿Ya tienes una cuenta? <span style="font-family: MontserratAlternates-Bold;" routerLink="/login">Acceder</span>

      </p>



    <!-- </form> -->





  </div>
  
  
  
      
</ion-content>