<ion-content >
  <div class="encabezado">
    <ion-icon class="icono" src="../../../assets/icons/FlechaBoxAmr.svg" routerLink="/login"></ion-icon>
    <p class="recordar">Recordar contraseña</p>
  </div>
  
  <div class="cuerpo">
    <p class="subtitulo">¿No recuerdas tu contraseña?</p>

  
    <p class="textocontraseña">Escribe tu email </p>
    <p class="textocontraseña">y te enviaremos una nueva clave</p>
 

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">

    <ion-item class="correo" lines="none">
      <ion-input clearInput type="text" placeholder="{{'LOGIN.USER' | translate }}" formControlName="email">
        <ion-icon slot="start" src="../../../assets/icons/email.svg"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button class="boton" expand="block" type="button" >Enviar</ion-button>
  </form>
  </div>
</ion-content>