ion-content{
    
    .content{
        background-color: white;
      border-radius: 20pt 20pt 20pt 20pt;
      height: 50%;
      width: 90%;
      margin-top: 50%;
      margin-left: 5%;

        .imagen{
            
            margin-left: 30%;
            margin-top: 10%;
        }

        .ups{
            font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif, ;
            font-size: 15pt;
            color: black;
            text-align: center;
            margin-bottom: 5%;
        }
        p{
            font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif, ;
            color: black;
            text-align: center;
            font-size: 10pt;
            margin-bottom: -3%;
            
        }
        ion-item{
            width: 90%;
            margin-left: 5%;
            --background: white;
            color: black;
            border: 1px solid black;
            border-radius: 30px;
            padding-left: 3%;
            margin-top: 10%;
            margin-bottom: 5%;
           
        ion-input{
            font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif, ;
            font-size: 10pt;
            ion-icon{
                margin-right: 3%;
            }
            
            
        }
           }


           ion-button{
            --border-radius: 50pt;
            font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
            text-align: center;
            color: black;
            font-size: 12pt;
            margin-left: 5%;
            margin-right: 5%;

            img{
                padding-right: 5%;
            }
            
            

           }


    }





































}