

<ion-content [fullscreen]="true">
  
  
  
  
  
  <div class="content">
    <img class="imagen" src="../../../assets/imgs/Grupo11405.png" alt="">

    <p class="ups">¡Ups!</p>
    <p>Para poder realizar el pedido, necesitamos</p>
    <p>saber cuál es tu dirección de entrega</p>



    <ion-item class="direccion" lines="none">
      <ion-input clearInput type="text" placeholder="Ej. Calle Colón, 24, Valencia" routerLink="/add-address">
        <ion-icon slot="start" src="../../../assets/icons/mapPin2.svg"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-button class="boton" shape="round" expand="block" type="button" routerLink="/inicio"><img src="../../../assets/icons/ramen.svg" alt="" > Confirmar Pedido</ion-button>

  </div>



  <ion-button id="open-modal" expand="block">Open Sheet Modal</ion-button>

  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">Block of Content</div>
    </ng-template>
  </ion-modal>














</ion-content>
