.edit-button{
    width: 35px; 
    height: 35px;
    min-height: unset; 
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 195px;
}

.body{
    --background: #F2F2F2;
}

ion-card {
    margin: 15px 10px; // Márgenes para el card
    border-radius: 10px; // Bordes redondeados de la tarjeta
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Sombra sutil alrededor del card
    --background: transparent !important;
  
    ion-item {

        .card-button{
        --background: #1B1B1B;
        align-items: center;
        justify-content: center;
        display: flex;
        }

       .card{
        color: #FAD149; 
        font-size: 20px; 
        margin-left: 5px;
      }

      .visa{
        color: #141411;
        font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
      .card-info{
        color: #141411;
        font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif;
        padding-top: 3%;
    }
      
      .chek{
        color: #141411 ;
      }

    }

    
}

.add-card{
    --border-radius: 50pt;
    text-align: center;
    color: black;
    font-size: 11pt;
    margin: 5%;
    padding-top: 5%;
    --background: #FAD868;
    height: 80px;
    margin-top: 95%;
    font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
}