
<ion-header class="cabecera">
  <div class="principal">
    <div class="textos">
      <p class="saludo">Hola <span class="nombre">Juan</span>,</p>
      <p class="pregunta">¿qué te apetece pedir hoy?</p>
    </div>
    
    <div class="carrito">
      <ion-button  class="carrito-btn">
        <ion-icon class="carrito-icon" src="../../../assets/icons/Trazado46917.svg" slot="icon-only"></ion-icon>
        <ion-badge color="light" class="badge" slot="end">+99</ion-badge>
      </ion-button>
    </div>
  </div>

  <p class="añade" routerLink="/current-address">
    Carrer d’Ontiyent, 4, 46008, Valencia <img src="../../../assets/icons/flechaAbajoAmar.svg" width="10px">
  </p>


  <ion-item class="lupa" lines="none">
    <ion-input clearInput type="text" placeholder="Buscar" >
       <ion-icon slot="start" src="../../../assets/icons/lupa.svg"></ion-icon>
    </ion-input>
  </ion-item>

  <div class="botones">
    

      
      <ion-button  id="open-modal" expand="block" color= "primary" >
        <ion-icon slot="start" src="../../../assets/icons/scooter.svg"></ion-icon>
        <ion-text color="secondary" >A domicilio</ion-text>
      </ion-button>
      
      
      
      <ion-button color= "primary" >
        <ion-icon slot="start" src="../../../assets/icons/ramen.svg"></ion-icon>
        <ion-text color="secondary" routerLink="/restaurant-selection">Recogida</ion-text>
      </ion-button>

      <ion-button color= "primary" >
        <ion-icon slot="start" src="../../../assets/icons/QR.svg"></ion-icon>
        <ion-text color="secondary" routerLink="/qr-scanner">En mesa</ion-text>
      </ion-button>
  </div>

</ion-header>

<ion-content [fullscreen]="true" class="cuerpo">

 <div class="content">

      <div  class="contenedor1">
        
        <img src="../../../assets/imgs/Rectángulo19455.png" alt="">
        <p class="miercoles">Miércoles Thai</p>
        <p>¡Rompe con tu rutina semanal y disfruta de nuestras</p>
        <p>delicias tailandesas por un precio espectacular!</p>

        <ion-button class="oferta-button">
          
          <ion-text>Sólo para ti por <span>6,95€</span> </ion-text>
        </ion-button>
   
      </div>
        
        

    <p class="promotion-text">¡Descubre nuestras promociones!</p>



    <div style="padding-top: 0%;" class="contenedor2">

      <img src="../../../assets/imgs/Rectángulo19506.png" alt="">

      <p class="salsa">Prueba nuestra salsa</p>
      <p class="salsa-text">Descubre las Curiosidades de Nuestra Salsa Picante:</p>

    </div>
  </div>
  

</ion-content>

        <ion-modal  id="modal-inicio" class="modal-inicio" trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
          <ng-template>
            <div class="content">
              <img class="imagen" src="../../../assets/imgs/Grupo11405.png" alt="">
          
              <p class="ups">¡Ups!</p>
              <p>Para poder realizar el pedido, necesitamos</p>
              <p>saber cuál es tu dirección de entrega</p>
          
          
          
              <ion-item class="direccion" lines="none">
                <ion-input clearInput type="text" placeholder="Ej. Calle Colón, 24, Valencia" routerLink="/add-address">
                  <ion-icon slot="start" src="../../../assets/icons/mapPin2.svg"></ion-icon>
                </ion-input>
              </ion-item>
          
              <ion-button class="boton" shape="round" expand="block" type="button" (click)="modal.dismiss()"><img src="../../../assets/icons/ramen.svg" alt="" > Confirmar Pedido</ion-button>
          
            </div>
          </ng-template>
        </ion-modal>