<ion-content [fullscreen]="true">

  <div class="cabecera">


    
    <div class="principal">
      <div class="textos">
      <p>Hola <span>Juan</span>,</p>
      <p class="que">¿qué te apetece pedir hoy?</p>
    </div>
    <div class="carrito">
      <ion-button color= "primary" >
        <ion-icon src="../../../assets/icons/Trazado46917.svg"></ion-icon>
      </ion-button>
    </div>

    </div>

    

    <p class="añade">
      Carrer d´Ontinyent,4,46008,Valencia <img src="../../../assets/icons/flechaAbajoAmar.svg" width="10px" routerLink="/current-address">
    </p>


    <ion-item class="lupa" lines="none">
      <ion-input clearInput type="text" placeholder="Buscar" >
         <ion-icon slot="start" src="../../../assets/icons/lupa.svg"></ion-icon>
      </ion-input>
    </ion-item>
  
    <div class="botones">
      <ion-button color= "primary" >
        <ion-icon slot="start" src="../../../assets/icons/scooter.svg"></ion-icon>
        <ion-text color="secondary"  routerLink="/to-home">A domicilio</ion-text>
     </ion-button>

      <ion-button color= "primary" >
        <ion-icon slot="start" src="../../../assets/icons/ramen.svg"></ion-icon>
        <ion-text color="secondary" routerLink="/restaurant-selection">Recogida</ion-text>
      </ion-button>

      <ion-button color= "primary" >
        <ion-icon slot="start" src="../../../assets/icons/QR.svg"></ion-icon>
        <ion-text color="secondary" routerLink="/qr-scanner">En mesa</ion-text>
      </ion-button>
    </div>

  

  </div>


  <div class="cuerpo">
      

    

      <div style="padding-top: 0%;" class="contenedor1">
        
        <img src="../../../assets/imgs/Rectángulo19455.png" alt="">
        <p class="miercoles">Miércoles Thai</p>
        <p>¡Rompe con tu rutina semanal y disfruta de nuestras</p>
        <p>delicias tailandesas por un precio espectacular!</p>

        <ion-button color="secondary">
          
          <ion-text>Sólo para ti por <span>6,95€</span> </ion-text>
        </ion-button>
   
      </div>
        
        

    <p>¡Descubre nuestras promociones!</p>



    <div style="padding-top: 0%;" class="contenedor2">

      <img src="../../../assets/imgs/Rectángulo19506.png" alt="">

      <p class="salsa">Prueba nuestra salsa</p>
      <p>Descubre las Curiosidades de Nuestra Salsa Picante:</p>

    </div>
    
  </div>













</ion-content>

