<ion-header>
  <ion-toolbar class="custom-toolbar">
    <div class="header-content">
      <div class="header-text">
        <h1 class="title-line1">Descubre aqui</h1>
        <h1 class="title-line2">nuestros Thai puntos</h1>
      </div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header class="point-indicator">
    <div class="point-header-text">
    <h2> Actualmente tienes</h2>
    <h3> 1235</h3>
    <h3> thai puntos</h3>
  </div>
  </ion-header>
</ion-content>
