.cuerpo {
    padding: 16px;
    
  
    .item-carrito {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      border-radius: 8px;
  
      .producto-imagen {
       
       
        border-radius: 8px;
        margin-right: 16px;
      }
  
      ion-label {

        .detalle-producto {

          margin-bottom: 8px;
  
          .plato {
            font-size: 16px;
            font-weight: bold;
            color: #141411; 
          }
  
          .extra {
            font-size: 11px;
            color: #141411; 
          }
        }
  
        .modificar-cantidad {
          display: flex;
          align-items: center;
          gap: 8px; // Espacio entre iconos y cantidad
  
          ion-text {
            font-size: 15px;
            color: #141411; // Texto negro para la cantidad y precio
          }
  
          .precio {
            margin-left: auto;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
    }
  
    .confirmar-pedido {
      margin-top: 20px;
      text-align: center;
  
      .boton {
        font-size: 16px;
        color: #141411;
        --background: #FAD868; // Botón con fondo rojo
        --border-radius: 20px;
        margin-top: 400px;
  
        .icono-confirmar {
          width: 18px;
          height: 18px;
          margin-right: 8px;
        }
      }
    }
  }
  