<app-header title="{{ sauceName }}"></app-header>

<ion-content [fullscreen]="true">
  <div class="sauce-details">
    <img [src]="sauceImg" class="sauce-img-large" />
    <h2>{{ sauceName }}</h2>
    <h3>{{ units }} unidad(es)</h3>
    <p>{{ sauceDescription }}</p>
  </div>

    <div class="condiciones">
      <h4>Condiciones</h4>
      <p>Oferta válida desde las 11:30 horas de la mañana del 27/06/2024 hasta el 3/07/2024.</p>
      <p>Este descuento sólo podrá utilizarse una vez por usuario.</p>
    </div> 
    <div class="points-container">
      <div class="points">100 puntos</div>
      
      <ion-button class="redeem-button" routerLink="/cart">
        <ion-icon src="/assets/icons/coin.svg" class="coin-icon"></ion-icon>
        Canjear
      </ion-button>
    </div>
    
    
    
    

</ion-content>
