<ion-content>


  <div class="swiper mySwiper">
    
    <div class="swiper-wrapper">

      <div class="swiper-slide">
        <img class="logo" src="assets/imgs/logo.png" alt="">

      </div>
      <div class="swiper-slide">
        <img class="logo" src="assets/imgs/logo.png" alt="">
        <span routerLink="/login" class="btn">Ir a login</span>
      

        <ion-button expand="block" routerLink="/test-plugins">Test plugins page</ion-button>
      
      </div>

      
    </div>

  </div>


  
</ion-content>