<ion-content>
  
  

  
  <body>
  <img class="fondo" src="../../../assets/imgs/Grupo11435.png" alt="">
  <div  routerLink="/login" class="img-logo">
      <img class="logo" src="assets/imgs/Capa 2.png" width="50%" >
  </div>
  <div class="texto">
    <p>¿Tienes hambre?</p>
    <p><ion-text color="primary">Pide Thai,</ion-text> te lo llevamos</p>

</div>

<div class="boton">
  <ion-button class="ion-button" color= "primary" >
    <ion-text color="secondary">Pide por esa boquita</ion-text>
  </ion-button>
</div>
</body> 

</ion-content>

