<ion-content>
  <div class="encabezado">
    
    <ion-input class="address" clearInput type="text" placeholder="Añadir dirección" >
      <ion-icon class="icono" slot="start" src="../../../assets/icons/FlechaBoxAmr.svg" routerLink="/inicio"></ion-icon>
    </ion-input>
      

    
  </div>


  <div class="cuerpo">

    
    <ion-item class="calle" lines="none">
      <ion-title class="titulo">Tipo de vía</ion-title>
      <ion-input class="calle" clearInput type="text" placeholder="Calle" >
      </ion-input>
    </ion-item>
    

    <ion-item class="mismoItem" lines="none">   
      <ion-input clearInput type="text" placeholder="Nombre de la vía" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input clearInput type="text" placeholder="Número de la vía" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input clearInput type="text" placeholder="Puerta" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input clearInput type="text" placeholder="Piso" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input clearInput type="text" placeholder="Bloque/Escalera" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input clearInput type="text" placeholder="Código Postal" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input clearInput type="text" placeholder="Ciudad" >
      </ion-input>
    </ion-item>

    <ion-button class="boton" shape="round" expand="block" type="button" routerLink="/confirm-address">Guardar cambios</ion-button>


  </div>


  
    
    












</ion-content>

