<app-header title="Añadir dirección"></app-header>


<ion-content>
  
  <div class="cuerpo">

    <ion-list class="details" lines="none">
    <ion-item class="calle" lines="none">
      <ion-input label="Tipo de vía" placeholder="Calle" value="Calle" labelPlacement="floating"></ion-input>
      <ion-icon slot="end"  src="assets/icons/close.svg" class="close-icon"></ion-icon> 
    </ion-item>
    

    <ion-item class="mismoItem" lines="none">   
      <ion-input class="name" clearInput type="text" placeholder="Nombre de la vía" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input class="name" clearInput type="text" placeholder="Número de la vía" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input class="name" clearInput type="text" placeholder="Puerta" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input class="name" clearInput type="text" placeholder="Piso" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input class="name" clearInput type="text" placeholder="Bloque/Escalera" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input class="name" clearInput type="text" placeholder="Código Postal" >
      </ion-input>
    </ion-item>

    <ion-item class="mismoItem" lines="none">   
      <ion-input class="name" clearInput type="text" placeholder="Ciudad" >
      </ion-input>
    </ion-item>
  </ion-list>

    <ion-button class="boton" shape="round" expand="block" type="button" routerLink="/confirm-address">Guardar cambios</ion-button>


  </div>


  
    
    












</ion-content>

