.imagen{
    background-color: #FAD149;
    margin: 20px;
    border-radius: 10pt;
    width: 90%;
    padding-bottom: 7px;
  

img{

    width: 100%;
}
.mercado{
    
    color: black;
    padding-left: 5%;
}

h1{
 font-size: 18px;
 font-weight: bold;
}
p{
    font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: black;
    padding-left: 5%;
    font-size: 14px;
    white-space: break-spaces;
    margin-bottom: -4px;

    ion-icon{
        color: black;
        height: 12px;
        width: 12px;
        vertical-align: middle; 
        display: inline-block;  
        margin-right: 5px;   
    }
}



.botones{
width: 100%;
margin-top: 10px;
display: flex;
margin-bottom: 10px;
margin-left:10px;




    ion-button{
        width: 30%;
        min-height: 30px;
        height: 34px;
        --border-radius: 30pt;
        --background:white;

  
        ion-icon{
            color: black;
            height: 13px;
            width: 13px;
            vertical-align: middle; 
            display: inline-block;  
            margin-bottom: 2px;
            
        }

        ion-text{
           
            font-size: 12px;
            white-space: nowrap;
        }
    }







}
}