<app-header title="Configurar mi cuenta"></app-header>

<ion-content>
  <img class="plane" src="../../../assets/imgs/Grupo11429.png" alt="">

  <div class="body"> 

    <ion-item class="sameItem" lines="none">         
      <ion-input clearInput type="text" placeholder="Teléfono" >
        <ion-icon slot="start" src="../../../assets/icons/Trazado46987.svg"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="sameItem" lines="none">         
      <ion-input clearInput type="text" placeholder="Nombre" >
        <ion-icon slot="start" src="../../../assets/icons/user.svg"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="sameItem" lines="none">         
      <ion-input clearInput type="text" placeholder="Apellidos" >
        <ion-icon slot="start" src="../../../assets/icons/user.svg"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="sameItem" lines="none">         
      <ion-input clearInput type="text" placeholder="Email" >
        <ion-icon slot="start" src="../../../assets/icons/email.svg"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="sameItem" lines="none">         
      <ion-input clearInput type="text" placeholder="Contraseña" >
        <ion-icon slot="start" src="../../../assets/icons/password.svg"></ion-icon>
      </ion-input>
    </ion-item>

    <ion-item class="sameItem" lines="none">         
      <ion-input clearInput type="text" placeholder="Repetir contraseña" >
        <ion-icon slot="start" src="../../../assets/icons/password.svg"></ion-icon>
      </ion-input>
    </ion-item>

    
    <div>
      <ion-button class="safe" shape="round" expand="block" type="button" >Guardar cambios</ion-button>

      <ion-button class="eliminate" shape="round" expand="block" type="button" >Eliminar cuenta</ion-button>
    </div>

  </div>
  
</ion-content>
