.body{
    --background:#141411;
    text-align: center;
}

.great{
    font-size: 16pt;
}
.confirmed{
    font-size: 16pt;
}
span{
    color: #FAD149;
    font-size: 16pt;
}

.order{
    font-size: 12pt;
}

.time{
    color: #FAD149;
    font-size: 16pt;
}

.image{
    height: 80px;
    width: 80px;

}

.points{
    color: #FAD149;
    font-size: 12pt;
}

.button{
    border-radius: 30pt;
    color: #141411;
}