<app-header title="Configuración de cuenta">
  <ion-button fill="solid" color="warning" class="brush-button">
    <ion-icon slot="icon-only" src="../../../assets/icons/brush.svg"></ion-icon>
  </ion-button>
</app-header>

<ion-content [fullscreen]="true">

  <div class="notification-card">
    <p class="notification-title">Título de la notificación que le llega al usuario.</p>
    <p class="notification-action">Pulsa aquí para conocer más.</p>
    <p class="notification-time">Hace 10 minutos</p>
  </div>

  <div class="notification-card">
    <p class="notification-title">Título de la notificación que le llega al usuario.</p>
    <p class="notification-action">Pulsa aquí para conocer más.</p>
    <p class="notification-time">Hace 10 minutos</p>
  </div>

  <div class="notification-card">
    <p class="notification-title">Título de la notificación que le llega al usuario.</p>
    <p class="notification-action">Pulsa aquí para conocer más.</p>
    <p class="notification-time">Hace 10 minutos</p>
  </div>



</ion-content>



