app-header {
  position: relative; 
}
.brush-button {
  width: 35px;
  height: 35px;
  min-height: unset;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px; 
  right: 10px; 
}
  
  .icono {
    height: 25px;
    width: 25px;
    
    margin-left:2px;
  }

  ion-content {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .notification-card {
    
    border: 1px solid #3f3f3f;
    border-radius: 10px;
    margin-top: 25px;
    padding: 10px;
     margin: 23px;
    overflow: visible; 
  
   
   
  
  }
  .notification-card p {
   
}
  .notification-title {
    font-size: 15px;
    margin: 0; 
    padding: 0; 
    color: #141411;
   
  }
  
  .notification-action {
    font-size: 15px;
    font-weight: bold;
    color: #141411;
    margin: 0; 
    padding: 0; 
  }
  
  .notification-time {
    font-size: 15px;
    color: #898984;
   
  }
  