.brush-button {
    width: 35px; /* Ajusta el ancho del botón */
    height: 35px; /* Ajusta la altura del botón */
    min-height: unset; 
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-left: 50px;
    
  }
  
  .icono {
    font-size: 10px; /* Ajusta el tamaño del ícono */
    color: #ffffff; /* Asegura que el color del ícono sea el correcto */
    margin-left:2px;
  }