/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/*@import "@ionic/angular/css/palettes/dark.always.css";
@import "@ionic/angular/css/palettes/dark.class.css";*/
@import "@ionic/angular/css/palettes/dark.system.css";

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('assets/fonts/MontserratAlternates-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('assets/fonts/MontserratAlternates-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
}

// ESTILOS PARA TODOS LOS ION TOOLBAR

ion-toolbar{
    --border-width: 0;
    --border-color: transparent;
    --background: transparent;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --background: white;

    ion-buttons{
        ion-icon{
            font-size: 32px;
        }
    }

    ion-title{
        font-size: 16px; 
        padding: 0;
        font-family: var(--ion-font-family-headers);
    }
}


// ESTILOS PARA TODOS LOS BOTONES "EN PRINCIPIO" -- PARA CAMBIAR ESTILOS, CAMBIARLO EN UNO EN CONCRETO CON ALGUNA CLASE

ion-button{
    --border-radius: var(--app-border-radius);
    height: 48px;
    text-transform: none;
}

// ESTILOS PARA ITEMS Y INPUTS

ion-item{
    --padding-start: 8px;
    --padding-end: 8px;
}

ion-input{
    
    ion-input-password-toggle{
        margin: 0 !important;
    }
}




// ESTILOS FULLCALENDAR


full-calendar{
    padding: 16px !important;
    margin: 0px !important;
    border-radius: 12px !important;
    background: var(--fc-page-bg-color);
}


.fc .fc-daygrid-day-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 100%;
    height: 48px;
    position: relative;
    z-index: 999999;
}

.fc-theme-standard td, .fc-theme-standard th{
    border: none;
    border-radius: 100px;
    &.selected{
        background: var(--fc-highlight-color) !important;
    }
}

.fc .fc-col-header-cell-cushion{
    text-transform: uppercase;
    //color:  var(--ion-color-calendar-contrast)
}

.fc .fc-button-primary{
    //background: transparent;
    border: none;
}

  
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events{
    display: flex !important;
    flex-flow: row !important;
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    height: 12px !important;
    min-height: 12px !important;
    left: 2px;
    right: 0;
    bottom: 2px;
    width: 100%;
}
   
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start{
    margin: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
    background: transparent;
    border: none;
    width: 6px;
    height: 6px;
    border-radius: 100px;
    margin: 1px !important;
}
  
.fc .fc-scrollgrid-liquid{
    border: none;
}

.fc .fc-today-button{
    display: none;
}

.fc .fc-daygrid-day.fc-day-today{
    background-color: var(--ion-color-primary-shade);
}
  
.fc .fc-toolbar-title{
    font-size: 1.5em !important;
}
  
.fc .fc-daygrid-day-number{
    //color: var(--ion-color-calendar-contrast);
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

// LIST CALENDAR

.fc .fc-list-table tbody > tr:first-child th , .fc-theme-standard .fc-list-day-cushion, .fc .fc-list-sticky .fc-list-day > *{
    //background: #404040 !important;
    border-radius: 12px;
}

.fc-theme-standard .fc-list{
    border: none;
}
ion-modal#modal-inicio{
    --backdrop-opacity: 0.7;
    --background:transparent;
    /*width: 90%;
    height: 48%;
    margin-bottom: 50%;
    border-radius: 20pt;
    margin-left: 5%;
    margin-top: 63%;*/
    
    
    
    .content{
        background-color: white;
      border-radius: 20pt 20pt 20pt 20pt;
      height: 46%;
      width: 90%;
      margin-top: 61%;
      margin-left: 5%;

        .imagen{
            
            margin-left: 30%;
            margin-top: 10%;
        }

        .ups{
            font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif, ;
            font-size: 15pt;
            color: black;
            text-align: center;
            margin-bottom: 5%;
        }
        p{
            font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif, ;
            color: black;
            text-align: center;
            font-size: 10pt;
            margin-bottom: -3%;
            
        }
        ion-item{
            width: 90%;
            margin-left: 5%;
            --background: white;
            color: black;
            border: 1px solid black;
            border-radius: 30px;
            padding-left: 3%;
            margin-top: 10%;
            margin-bottom: 5%;
           
        ion-input{
            font-family: "MontserratAlternates-Regular", Arial, "Helvetica Neue", Helvetica, sans-serif, ;
            font-size: 10pt;
            ion-icon{
                margin-right: 3%;
            }
            
            
        }
           }


           ion-button{
            --border-radius: 50pt;
            font-family: "MontserratAlternates-Medium", Arial, "Helvetica Neue", Helvetica, sans-serif;
            text-align: center;
            color: black;
            font-size: 12pt;
            margin-left: 5%;
            margin-right: 5%;

            img{
                padding-right: 5%;
            }
            
            

           }


    }
}
