.body{
    --background:#141411;
    text-align: center;
    padding-top: 20%;
}

.great{
    font-size: 22pt;
    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 15%;
    margin-bottom: -7%;
}
.confirmed{
    font-size: 22pt;
    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #FAD149;
}
span{
    color: white;
    font-size: 22pt;
    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.order{
    font-size: 12pt;
    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.time{
    color: #FAD149;
    font-size: 26pt;
    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.image{
    height: 273px;
    width: 273px;
    margin-top: 7%;


}

.points{
    color: #FAD149;
    font-size: 12pt;
    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-top: 12%;
}

.button{
    --border-radius: 30pt;
    color: #141411;
    font-family: "MontserratAlternates-Bold", Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 80%;
    height: 60px;
    margin-top: 2%;
    --backround:#FAD149;
}