<ion-content class="body">

  <p class="great">¡Genial! ¡Tu pedido</p>
  <p class="confirmed">ha sido confirmado<span>!</span></p>
  
  
  <p class="order">Tu pedido será entregado <br>aproximadamente a las</p>
  
  
  <p class="time">22:15 horas</p>
  
  <img class="image" src="../../../assets/imgs/Grupo11428@3x.png" alt="">
  
  <p class="points">¡Has obtenido +200 puntos!</p>
  
  <ion-button class="button" routerLink="/confirmation-pickup-restaurant">Continuar</ion-button>
  
  </ion-content>