<app-header title="Tu pedido"></app-header>

<ion-content class="body">

  <ion-list >
    <ion-item class="item">
      <img class="bites" src="../../../assets/imgs/bolitas-de-gamba-scaled(1).png" alt="">
      <ion-label >
        
        <p class="dish">Gambas bites</p>
        <p class="extra">Salca Curry, Salsa Chon</p>
        
          <div class="price">
          <ion-icon src="../../../assets/icons/symbNegative.svg"></ion-icon>
          <p class="u-price">3</p>
          <ion-icon class="icon" src="../../../assets/icons/symbPositive.svg"></ion-icon>
          <p class="total-price">20,85€</p>
          </div>
        
        
        
        
      </ion-label>
    </ion-item>

    <ion-item>
      
      <img class="bites" src="../../../assets/imgs/delicias-500x501.png" alt="">
      <ion-label >
        
        <p class="dish">Delicias al vapor</p>
        <p class="extra">Con Palillos</p>
        
          <div class="price">
          <ion-icon src="../../../assets/icons/symbNegative.svg"></ion-icon>
          <p class="u-price">1</p>
          <ion-icon class="icon" src="../../../assets/icons/symbPositive.svg"></ion-icon>
          <p class="total-price">7,50€</p>
          </div>
        
        
        
        
      </ion-label>
    </ion-item>

    <ion-item >
      <img class="bites" src="../../../assets/imgs/edamame-500x501.png" alt="">
      <ion-label >
        
        <p class="dish">Edamame</p>
        <p class="extra">Salsas de ostras, Salsa Teriyaki</p>
        
          <div class="price">
          <ion-icon src="../../../assets/icons/symbNegative.svg"></ion-icon>
          <p class="u-price">1</p>
          <ion-icon class="icon" src="../../../assets/icons/symbPositive.svg"></ion-icon>
          <p class="total-price">6,95€</p>
          </div>
        
        
        
        
      </ion-label>
    </ion-item>
      

    <ion-item class="full-input-item">
      <ion-input placeholder="Añade un comentario" class="custom-input"></ion-input>
    </ion-item>


  </ion-list>
  <div>
  <p>Elige tu método de pago</p>
  <ion-item class="custom-checkbox" lines="none">
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label class="pay-online">Pago con tarjeta online</ion-label>
  </ion-item>
  
  <ion-item class="custom-checkbox" lines="none">
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Pago con datáfono</ion-label>
  </ion-item>
  
  <ion-item class="custom-checkbox" lines="none">
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label>Pago en efectivo</ion-label>
  </ion-item>
 </div>














</ion-content>
