<app-header title="Tu pedido"></app-header>

<ion-content class="body">

  <ion-list >
    <ion-item class="item">
      <img class="bites" src="../../../assets/imgs/bolitas-de-gamba-scaled(1).png" alt="">
      <ion-label >
        
        <p class="dish">Gambas bites</p>
        <p class="extra">Salca Curry, Salsa Chon</p>
        
          <div class="price">
          <ion-icon src="../../../assets/icons/symbNegative.svg"></ion-icon>
          <p class="u-price">3</p>
          <ion-icon class="icon" src="../../../assets/icons/symbPositive.svg"></ion-icon>
          <p class="total-price">20,85€</p>
          </div>
        
        
        
        
      </ion-label>
    </ion-item>

    <ion-item>
      
      <img class="bites" src="../../../assets/imgs/delicias-500x501.png" alt="">
      <ion-label >
        
        <p class="dish">Delicias al vapor</p>
        <p class="extra">Con Palillos</p>
        
          <div class="price">
          <ion-icon src="../../../assets/icons/symbNegative.svg"></ion-icon>
          <p class="u-price">1</p>
          <ion-icon class="icon" src="../../../assets/icons/symbPositive.svg"></ion-icon>
          <p class="total-price">7,50€</p>
          </div>
        
        
        
        
      </ion-label>
    </ion-item>

    <ion-item >
      <img class="bites" src="../../../assets/imgs/edamame-500x501.png" alt="">
      <ion-label >
        
        <p class="dish">Edamame</p>
        <p class="extra">Salsas de ostras, Salsa Teriyaki</p>
        
          <div class="price">
          <ion-icon src="../../../assets/icons/symbNegative.svg"></ion-icon>
          <p class="u-price">1</p>
          <ion-icon class="icon" src="../../../assets/icons/symbPositive.svg"></ion-icon>
          <p class="total-price">6,95€</p>
          </div>
        
        
        
        
      </ion-label>
    </ion-item>
      

    <ion-item class="full-input-item">
      <ion-textarea class="area" style="border: 1px solid #676763; height: 130px; width: 90%; border-radius: 5pt;"
      placeholder="Añade un comentario">

      </ion-textarea>
    </ion-item>


  </ion-list>
  <div class="check-boxes">
  <p class="pay-method">Elige tu método de pago</p>

  <div class="check-text">
  <ion-checkbox class="pay-card" ></ion-checkbox>
  <p class="pay-card-online">Pago con tarjeta online</p>
  </div>
  
  <div class="check-text">
  <ion-checkbox class="pay-dat" ></ion-checkbox>
  <p>Pago con datáfono</p>
  </div>

  <div class="check-text">
  <ion-checkbox class="pay-cash" ></ion-checkbox>
  <p>Pago en efectivo</p>
  </div>
  </div>

  <ion-button class="black-button">Total:    <span>40,87€</span></ion-button>

  <ion-button class="yellow-button" shape="round" expand="block" type="button" routerLink="/confirmation-pickup-delivery"><img class="noddles" src="../../../assets/icons/noodles_7735908.png" alt=""> Confirmar Pedido</ion-button>











</ion-content>